﻿@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/********************* reset.css *********************/
article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}
a,hr{padding:0}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,bloc
kquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}
ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #555;margin:3em 0}input,select{vertical-align:middle}
.container{ max-width:1250px;}

a{color:#1dc6ef;}
a:hover{color:#000;}

.redColor{ color:#e21838;}

::-webkit-scrollbar{width:7px;background-color:#fff;border-left:1px solid #ccc;} ::-webkit-scrollbar-thumb{background-color:#744129;}
::selection {background:#744129;color:#fff} ::-moz-selection {background:#555;color:#fff}
* {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

html{height:100%;}
body {font-family: 'Roboto', sans-serif; background:#fff; margin:0; padding:0; font-size:14px; line-height:24px; overflow-x:hidden!important; color: #333;}
ol, ul, li {margin:0; list-style:none;}
a, a:hover, a:focus {text-decoration:none; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; outline:none;}
.img-responsive {width:100%; display:block;}
.no_padding {padding:0;}
.bottom_space{margin-bottom:20px;}
@-webkit-keyframes btn_anim {0%{opacity:0;width:0%; left:-120%;right:auto;} 50%{opacity:0.8;width:100%;} 100%{opacity:0;width:0%;left:130%;right:0;}}
@-moz-keyframes btn_anim {0%{opacity:0;width:0%;left:-120%;right:auto;} 50%{opacity:0.8;width:100%;} 100%{opacity:0;width:0%;left:130%;right:0;}}
@keyframes btn_anim {0%{opacity:0;width:0%;left:-120%;right:auto;} 50%{opacity:0.8;width:100%;} 100%{opacity:0;width:0%;left:120%;right:0;}}
.anchor {position:relative; overflow:hidden; z-index:0;}
.anchor:before {background:#f1f1f1; color:#fff; position:absolute;top:0;bottom:0;left:-15%;right:auto;z-index:-1;width:0%;}
.anchor:hover:before {-ms-animation-name:btn_anim;-webkit-animation-name:btn_anim; animation-name:btn_anim; -ms-animation-duration:.9s; -webkit-animation-duration:.9s; animation-duration:.9s; -ms-transform: skewX(-35deg); -webkit-transform: skewX(-35deg); tranform:skewX(-35deg);}
input, input:focus, button:hover, button, button:focus, input[type="radio"]:focus {outline:none; border:0; box-shadow:none;}
h1,h2 {font-weight:normal;}
p {line-height:24px; margin-bottom:15px;}
.fadeAnim{transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;}


.container{ max-width:1250px;}

.bannerSlider{ overflow:hidden;}
.bannerPic{ position:relative;}
.bannerPic:after{ position:absolute; left:0; right:0; top:0; bottom:0; background:#00000050; content:"";}
.bannerText{ position:absolute; bottom:0; padding:20px 40px 40px; left:0; right:100px; color:#fff;}
.bannerText a{ color:#fff;}
.bannerText a:hover{ color:#ddd;}
.bannerText h1{ font-size:30px; font-weight:700; margin-bottom:10px;} 
.bannerText p{ margin:0; font-size:17px;}

.bannerSlider .slick-arrow { width:32px; height:32px; border-radius:50%; position: absolute; bottom:80px; color: transparent; z-index: 1;  
border:1px solid #fff;background: transparent;transition: all .3s ease-out; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out;}
.bannerSlider .slick-arrow.slick-prev {right:80px; }
.bannerSlider .slick-arrow.slick-prev:before{ width:8px; height:8px;  position: absolute; top:11px; left:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #fff; border-left: 1px solid #fff; transform: rotate(-45deg);}

.bannerSlider .slick-arrow.slick-next {right:40px; }
.bannerSlider .slick-arrow.slick-next:before{ width:8px; height:8px;  position: absolute; top:11px; right:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #fff; border-left: 1px solid #fff; transform: rotate(135deg);}

.bannerSlider .slick-arrow:hover{ background:#e21838; border:1px solid #ad0a24; }
.bannerSlider .slick-arrow.slick-next:hover:before, .bannerSlider .slick-arrow.slick-prev:hover:before{border-top: 1px solid #fff; border-left: 1px solid #fff;}


.blogBrief{ letter-spacing:1px; font-size:13px; padding-bottom:15px; margin-bottom:15px; border-bottom: 2px dashed #dfdfdf;}
.blogBox a{ color:#333;}
.blogBox a:hover{ color:#e21838;}
.blogBox a:hover .blogBrief{color:#333;}
.blogBox .blogPic{ overflow:hidden; max-height:275px;}

.blogBox a img{ width:100%; transition:all .5s ease-in-out;}
.blogBox a:hover img{ -webkit-transform: scale(1.08);  transform: scale(1.08);}
.blogBox h1{ font-size:18px; font-weight:700; margin-bottom:10px;}



/****************** slider ***********************/
.animated {-webkit-animation-duration: 2.5s; animation-duration: 2.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}

@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}


.mainContent h1.title{ font-size:36px; font-weight:700; color:#494a49; }
.mainContent h1.title span{ color:#e21838; font-size:36px; font-family: 'Parisienne', cursive; }
 
.dashedBorder{ border-bottom:1px dashed #dfdfdf; }
 
.postSlider{ border-bottom:1px dashed #dadada; }
.postSlider > div{ padding-right:30px;}
.postSlider img{ width:100%;}



.postSlider .slick-arrow { width:32px; height:32px; border-radius:50%; position: absolute; top:-60px; color: transparent; z-index: 1;  
border:1px solid #d8d8d8;background: transparent;transition: all .3s ease-out; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out;}
.postSlider .slick-arrow.slick-prev {right:40px; }
.postSlider .slick-arrow.slick-prev:before{ width:8px; height:8px;  position: absolute; top:11px; left:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(-45deg);}

.postSlider .slick-arrow.slick-next {right:0px; }
.postSlider .slick-arrow.slick-next:before{ width:8px; height:8px;  position: absolute; top:11px; right:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(135deg);}

.postSlider .slick-arrow:hover{ background:#e21838; border:1px solid #ad0a24; }
.postSlider .slick-arrow.slick-next:hover:before, .postSlider .slick-arrow.slick-prev:hover:before{border-top: 1px solid #fff; border-left: 1px solid #fff;}

.postSlider .slick-dots {margin-top:15px; text-align: center;}
.postSlider .slick-dots li {display:inline-block; margin:0 2px; }
.postSlider .slick-dots li button {width:7px ; height:7px; border-radius:100%; background:#000; color:transparent; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.postSlider .slick-dots li.slick-active button, .postSlider .slick-dots li.slick-active button:hover {background:#e21838; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.postSlider .slick-dots li button:before{ content:"";}


.postList{ background:#fafafa; padding:30px 35px;}
.postList li{ border-bottom:1px dashed #dfdfdf; margin-bottom:15px;}
.postList li:last-child{ border-bottom:0; margin-bottom:0;}
.postList a{ color:#333;}
.postList a:hover{ color:#e21838;}
.postList a:hover .blogBrief{color:#333;}
.postList .blogBrief{ border-bottom:0; padding-bottom:0; margin-bottom:10px;}
.postList h1{ font-size:17px; font-weight:700; margin-bottom:5px;}
.postList p{ font-size:13px;}

.articleSlider > div{ margin:0 -15px;}
.articleBox{  color:#333; display:block;background:#fafafa; text-align:center; min-height:250px; margin: 0 15px; padding:20px; position:relative;}
.articleBox:before{ position:absolute; left:15px; right:15px; top:15px; bottom:15px; border:1px dashed #c7c7c7; content:""; transition:all 0.3s ease-in-out;}
.articleBox:hover{ background:#e21838; color:#fff;}
.articleBox:hover:before{ border:1px dashed #fff;}
.articleBox .blogBrief{ border-bottom:0; margin-bottom:10px; padding-bottom:0;}
.articleBox h1{ font-size:18px; font-weight:700; }




.articleSlider .slick-dots {margin-top:15px; text-align: center;}
.articleSlider .slick-dots li {display:inline-block; margin:0 2px; }
.articleSlider .slick-dots li button {width:7px ; height:7px; border-radius:100%; background:#000; color:transparent; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.articleSlider .slick-dots li.slick-active button, .articleSlider .slick-dots li.slick-active button:hover {background:#e21838; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.articleSlider .slick-dots li button:before{ content:"";}

.newletterBox{ background:#fafafa; padding:40px 50px; text-align:center;  transition:all 0.3s ease-in-out;}
.newletterBox h2{ font-size:21px; font-weight:700; margin-bottom:10px;}
.newletterBox input{border:1px solid #c6c6c6;padding:10px 15px; display:block;}
.newletterBox input:hover, .newletterBox input:focus{border:1px solid #e21838; box-shadow: none;}
.newletterBox input[type="email"]{ height:auto;  font-size:13px;  margin-bottom:15px; } 
.newletterBox input[type="email"]::placeholder{color:#333;}
.newletterBox input[type="submit"]{ background:#000; color:#fff; text-transform:uppercase; width:100%;  transition:all 0.3s ease-in-out;}
.newletterBox input[type="submit"]:hover{ background:#e21838;}

.bottomBlogBox{ overflow:hidden;}
.bottomBlogPic{ position:relative;}
.bottomBlogPic img{ display:block;}
.bottomBlogBox img{ width:100%; transition:all .5s ease-in-out;}
.bottomBlogBox:hover img{ -webkit-transform: scale(1.08);  transform: scale(1.08);}
.bottomBlogPic:after{ position:absolute; left:0; right:0; top:0; bottom:0; background:#00000050; content:"";}
.bottomBlogText{ position:absolute; bottom:0; padding:20px 40px 40px; left:0; right:0; color:#fff;}
.bottomBlogText a{ color:#fff;}
.bottomBlogText a:hover{ color:#ddd;}
.bottomBlogText h1{ font-size:25px; font-weight:700; margin-bottom:5px;} 
.bottomBlogText p{ margin:0; font-size:17px;}

.subHead{ font-size:18px; font-weight:700; border-bottom:4px solid #e21838; padding-bottom:10px;}
.categoryWrap .blogBrief{ border-bottom:0; padding-bottom:0; margin-bottom:5px;}

.pagination{border:1px solid #c4c4c4; border-radius:0;}
.pagination a{ width: 43px; height:38px; color:#333; border-right:1px solid #c4c4c4;   display:inline-block;font-size: 14px; line-height: 38px; 
transition:all .3s ease-in-out; vertical-align:bottom; background:#fafafa;margin-left: -3px;}
.pagination a:last-child{ border-right:0;}
.pagination a:hover{background:#e21838; color:#fff;} 
.pagination a.active{background:#e21838; color:#fff;} 
.pagination a.prev{position: relative; margin-left:0;}
.pagination a.next{position:relative; margin-left:-3px;}

.pagination a.prev:before{ width:8px; height:8px;  position: absolute; top:15px; left:20px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(-45deg);}

.pagination a.next:before{ width:8px; height:8px;  position: absolute; top:15px; right:20px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(135deg);}
.pagination a.prev:hover:before, .pagination a.next:hover:before{border-top: 1px solid #fff; border-left: 1px solid #fff;}

.tags{ background:#eee; padding:5px; text-align:center; color:#333;margin-bottom:15px; display:block;}
.tags:hover{ background:#e21838; color:#fff; }

.blogDetailsWrap{} 
.otherHead{ font-size:17px; font-weight:500;}

.blogTags{ background:#fafafa;}
.blogTags a{ padding:5px 0 5px 5px; color:#333; display:inline-block;}
.blogTags a:hover{ color:#e21838;}
.blogTags img{ margin: 8px 0 0 8px; display: inline-block;    vertical-align: sub;}
.blogTags span{ display:inline-block; float:right; background:#eee; padding:5px 15px;}

.commmon li{ position:relative; margin-bottom:5px; padding-left:15px; }
.commmon li:before{ width:5px; height:5px; position:absolute; top:8px; left:0; background:#000; content:""; }
.shareMedia { border:1px solid #c3c3c3;}
.shareMedia a{ width:40px; height:36px; background:#fafafa; color:#333; border-right:1px solid #c3c3c3; display:inline-block; text-align:center; line-height:36px; margin-left:-3px; font-size:18px; }
.shareMedia a:first-child{ margin-left:0;}
.shareMedia a:last-child{ border-right:0;}
.shareMedia a:hover{background:#e21838; color:#fff;}

.commentSection{ border:1px solid #c5c5c5; position:relative;}
.commentCount{ background:#eee; padding:8px 25px; position:relative;}
.commentCount:after{box-sizing: border-box; width: 10px; height: 5px; position:absolute; right:25px; top:20px;  border-bottom: solid 5px #000;  border-left: solid 5px transparent;  border-right: solid 5px transparent; content:"";}

.commentSection ul{ max-height:200px; margin:20px 10px 20px 25px; overflow-y: auto; overflow-x:hidden;}
.commentSection ul li{ padding:20px 0; border-bottom:1px solid #c8c8c8;margin-right: 10px;}
.commentSection ul li:last-child{ border-bottom:0;}
.commentPic{ border:1px solid #c0c0c0;}
.comment{ padding:8px 0 0; }
.commentBy{ font-size:13px; font-weight:500;}
.comment p{ margin-bottom:0;}
.commentDate{ font-size:9px; }
.replBtn{ position:absolute; right:5px; top:15px; font-size:12px; color:#e21838; display:block;background: no-repeat;}

.commentReply{ width:100%; /*margin-top:10px;*/}
.commentReply form{display:none;}
.commentReply .form-control{ font-size:13px; }
.commentReply .form-control:hover, .commentReply .form-control:focus{ box-shadow:none; border:1px solid #ced4da;}
.commentReply textarea{ height:33px;}
.commentReply button{ background:#eee;}
.commentReply button:hover{ background:#d21838; color:#fff;}

.blogReplyBox{ border:1px solid #c5c5c5; position:relative;}
.blogReplyBox .form-control{ font-size:13px; background:#fafafa; border:#fafafa; border:1px solid #fafafa; padding:15px; height:auto; transition:all 0.3s ease-in-out; }
.blogReplyBox .form-control::placeholder{ color:#333;}
.blogReplyBox .form-control:hover, .blogReplyBox .form-control:focus{ box-shadow:none; border:1px solid #ced4da;}
.blogReplyBox textarea{ height:90px !important;}
.blogReplyBox input[type="submit"]{ background:#000; color:#fff; text-transform:uppercase;}
.blogReplyBox input[type="submit"]:hover{ background:#e21838;}


.articleSlider .slick-arrow { width:32px; height:32px; border-radius:50%; position: absolute; bottom:-20px; color: transparent; z-index: 1;  
border:1px solid #d8d8d8;background: transparent;transition: all .3s ease-out; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out;}
.articleSlider .slick-arrow.slick-prev {right:40px; }
.articleSlider .slick-arrow.slick-prev:before{ width:8px; height:8px;  position: absolute; top:11px; left:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(-45deg);}

.articleSlider .slick-arrow.slick-next {right:0px; }
.articleSlider .slick-arrow.slick-next:before{ width:8px; height:8px;  position: absolute; top:11px; right:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(135deg);}

.articleSlider .slick-arrow:hover{ background:#e21838; border:1px solid #ad0a24; }
.articleSlider .slick-arrow.slick-next:hover:before, .articleSlider .slick-arrow.slick-prev:hover:before{border-top: 1px solid #fff; border-left: 1px solid #fff;}



.sleactCategory .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
.sleactCategory select::-ms-expand {
  display: none;
}
/* Custom Select */
.sleactCategory .select {
  position: relative;
  display: flex;
  width: auto;
  min-width:150px;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
.sleactCategory select {
  flex: 1;
  padding: 0 .5em;
  color: #333;
  cursor: pointer;
  border: 1px solid #cecece;
}
/* Arrow */
.sleactCategory .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #b7b7b7;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  color: #fff;
}
/* Transition */
.sleactCategory .select:hover::after {
  color: #fff;
  background:#e21838;
}



.awardWrap{ /*border-top:2px solid #bdbbce;*/}
.blogCateogry{position:relative; font-size:17px;padding: 15px; background:#f5f5f5; text-align:center;}
/*.awardWrap .blogCateogry:before{  height:2px; background:#bdbbce;  position:absolute; top:8px; left:0; right:0; content:"";}*/
.blogCateogry:after{height:0; background:#e21838;  position:absolute; bottom:0; left:0; right:5px;  content:"";}

.slider-nav .slick-current div .blogCateogry{font-size:17px; background:#e21838; color:#fff;}
.slider-nav .slick-current div .blogCateogry:after{height:5px;}

.slider-nav{ border-bottom:1px solid #e21838;}
.slider-nav .slick-arrow { width:32px; height:32px; border-radius:50%; position: absolute; top:20px; color: transparent; z-index: 1;  
border:1px solid #d8d8d8;background: transparent;transition: all .3s ease-out; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out;}
.slider-nav .slick-arrow.slick-prev {left:-40px; }
.slider-nav .slick-arrow.slick-prev:before{ width:8px; height:8px;  position: absolute; top:11px; left:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(-45deg);}

.slider-nav .slick-arrow.slick-next {right:-40px; }
.slider-nav .slick-arrow.slick-next:before{ width:8px; height:8px;  position: absolute; top:11px; right:13px; color: transparent; z-index: 1; content:"";   border-top: 1px solid #333; border-left: 1px solid #333; transform: rotate(135deg);}

.slider-nav .slick-arrow:hover{ background:#e21838; border:1px solid #ad0a24; }
.slider-nav .slick-arrow.slick-next:hover:before, .slider-nav .slick-arrow.slick-prev:hover:before{border-top: 1px solid #fff; border-left: 1px solid #fff;}


.slider-for .slick-dots li{ margin:5px 10px;}
.slider-for .slick-track{ margin:0;}

.slider-for .slick-dots {bottom:5px; text-align: center;}
.slider-for .slick-dots li {display:inline-block; margin:0 2px; }
.slider-for .slick-dots li button {width:7px ; height:7px; border-radius:100%; background:#000; color:transparent; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.slider-for .slick-dots li.slick-active button, .slider-for .slick-dots li.slick-active button:hover {background:#e21838; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out;}
.slider-for .slick-dots li button:before{ content:"";}

/*addedon 16_08_2021*/
.replybox{
	display:none;
}

/*.slider-for .slick-slide{opacity:.3}*/

@media (max-width:550px){
.slider-nav .slick-arrow{top:-40px;}
.slider-nav .slick-arrow.slick-prev{ left:auto; right:40px;}	
.slider-nav .slick-arrow.slick-next{ right:0;}
	}