body{
	margin: 0px;
	padding:0px;
	font-family: Arial;
    color: #000;
    font-size: 12px;
	font-weight:normal;
	height:100%;
	line-height:17px;
	background-color:#f3f1f2;/*e8e8e8*/
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

a {text-decoration:none; outline:none;}
a:hover {text-decoration:none; outline:none;}
.clear{	margin:0; padding:0; clear:both; }
ul {margin:0px; padding:0px; line-height:22px;}
li {list-style:none;}

input, textarea, select {outline:none;}
img{ border:0px;
}



/* -------------- General --------------- */

/*..................................................................................................*/

.main {
	width:100%;
	height:auto;
	margin:0 auto;
}
.maintop{
	width:100%;
	height:155px;
	margin:0 auto;
	background-image: url(../images/menu_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.mainwidth{
	width:980px;
	height:auto;
	margin:0 auto;
}
.logo{
	width:258px; 
	height:103px; 
	margin: 0 auto;
	float:left;
	margin-left:362px;
}

.top_logo_text{
float:right;
margin-top:40px;
height: auto;
padding:0px;
background-color:#fff;
}

.banner_bg{
	width:981px;
	height:328px;
	background-image:url(../images/banner_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-align:center;
	margin:0 auto 6px auto;
	padding:0px;
}


.banner_bg_inner{
	width:981px;
	height:181px;
	background-image:url(../images/inner_banner_top_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-align:center;
	margin:0 auto 6px auto;
	padding:0px;
}


.midlewidth{
width:961px;
height:auto;
margin: 0 auto;
padding:0px;
/*background-color:#00CC00;*/
}

.main_lefttable{
width:675px;
float:left;
margin-right:30px;
text-align:justify;
border-top: 1px dashed #999999;
padding-top:10px;
}
.main_lefttablehome{
width:675px;
float:left;
margin-right:30px;
text-align:justify;
}


.main_righttable{
width:255px;
float:right;
/*background-color:#ccc;*/
}

.events{
	background-image:url(../images/events_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 94px;
	width: 280px;
	float:left;
	margin: 16px 25px 0 0;
	padding:5px 20px 0 25px;
}
.events_text{
	background-image:url(../images/text/events.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 28px;
	width: 173px;
}
.events_con{
color:#fff;
height:53px;
}
.news{
	background-image:url(../images/news_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 94px;
	width: 280px;
	float:left;
	margin: 16px 0px 0 0;
	padding:5px 20px 0 25px;
}
.news_text{
	background-image:url(../images/text/news.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 28px;
	width: 173px;
}
.news_con{
color:#000;
height:53px;
}

.galery_bg{
	background-image:url(../images/gallery_bg.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 156px;
	width: 741px;
	margin:5px 0 -8px 0;
	float:left;
	z-index:-100000;
	position:relative;
}

.gallery_t{
padding:32px 10px 0 225px; height:110px;
}


.awardbg{
width:238px;
height:114px;
background-color:#400203;
padding:7px 9px 15px 9px;
}


#awardbg{
width:238px;
height:114px;
background-color:#400203;
padding:7px 9px 10px 9px;
}
#awardbg ul{
}
#awardbg ul li{
padding:7px 9px 0px 0px;
background-image:none;
}

.danate_bg{
	background-image:url(../images/donate_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	height:77px;
	width: 230px;
	margin-top:-13px;
	padding:55px 0 0 25px;
	margin-bottom:0px;	
}

.danate_text{
font-family:Arial;
color:#fff;
font-size: 1.3em;
margin-bottom:5px;
}

.newslatterbg{
	background-image:url(../images/newslatter_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 103px;
	width: 198px;
	margin-top:32px;
	float:right;
}

.newslatter_text{
border:0px;
outline:0px;
line-height:18px;
width:125px;
font-size:11px;
color:#999999;
}

.headtext{
margin-bottom:10px;
width:auto;
float:left;
height:25px;

}

.bearecome{
float:right; 
text-align:left;
font-size:11px;
color:#660931;
}
.bearecome a{
font-size:11px;
color:#660931;
text-decoration: none;
}
.bearecome a:visited{
font-size:11px;
color:#660931;
text-decoration: none;
}
.bearecome a:hover{
color: #cc7800;
text-decoration: none;
}
.bearecome span {
color: #cc7800;
}

.rightlinkbg{
	background-image:url(../images/inner_right_table_link_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 33px;
	width: 245px;
	color:#FFF;
	padding:18px 0 0 8px;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:-0.3px;
}

#rightlinkmidle{
	background-image:url(../images/inner_right_table_midle_bg.png);
	background-repeat: repeat-y;
	background-position: left top;
	width: 243px;
	top:0px;
	padding:0 0px 0 12px;
	
}
#rightlinkmidle ul{
	top:0px;	
}
#rightlinkmidle ul li{
	background-image:url(../images/right_link_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 29px;
	width: 232px;
	padding-left:4px;
	font-size:11px;
	color:#FFF;
	line-height:22px;	
}
#rightlinkmidle ul li a{
 	font-size:11px;
	color:#FFF;
}
#rightlinkmidle ul li a:visited{
 	font-size:11px;
	color:#FFF;
}
#rightlinkmidle ul li a:hover{
 	font-size:11px;
 	color:#000;
}
#rightlinkmidle ul li  #active{
 	font-size:11px;
 	color:#000;
}

.rightlinkbottom{
	background-image: url(../images/inner_right_table_bottom_img.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 27px;
	width: 255px;
}



#table {
border:1px solid #b1ccd6; 
border-collapse:collapse;
margin-bottom:10px;
}
#table tr td{
padding:5px 0 5px 5px;
}

.innertextheadtex_tbgtop{
	background-image:url(../images/inner_mini_top_text_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 39px;
	width: 685px;
}
.innertextheadtex_tbgmidle{
	background-image:url(../images/inner_mini_midle_text_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	width: 682px;
	min-height:88px;
	border-left:1px solid  #a4a4a4;
	border-right:1px solid  #a4a4a4;
	background-color:#bcbcbc;
}
.innertextheadtex_tbgbottom{
	background-image:url(../images/inner_mini_bottom_text_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 685px;
	height: 16px;
	margin-bottom:4px;
}
.headtex_tbgmidle_text{
margin:0 auto; 
width:650px;
min-height:48px;
padding-top:8px;

}

.change_top{
	background-image:url(../images/change_top_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 13px;
	width: 685px;
}
.change_top_midle{
	background-image:url(../images/change_midle.png);
	background-repeat: repeat-x;
	background-position: left top;
	width: 682px;
	min-height:88px;
	border-left:1px solid  #a4a4a4;
	border-right:1px solid  #a4a4a4;
	background-color:#bcbcbc;
}


.read_inner{
 float:right; vertical-align:bottom;
 margin-right:8px;
}

.mintextbg_left{
	background-image:url(../images/inner_heading_left_text_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 39px;
	width: 16px;
	margin-left:15px;
	float:left;
}
.mintextbg_mid{
	background-image:url(../images/inner_heading_midle_text_bg.png);
	background-repeat: repeat-x;
	height: 31px;
	min-width:200px;
	float:left;
	color:#FFF;
	padding:8px 0 0 0 ;
}
.mintextbg_right{
	background-image:url(../images/inner_heading_right_text_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 39px;
	width: 16px;
	float:left;
}

.doctor{
width:170px; float:left;
margin-bottom:10px;
margin-left:5px;
}

.pdf_bg{
	background-image:url(../images/pdf_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 37px;
	width: 609px;
	padding:8px 0 0 50px;
	color:#333;
	font-weight:bold;
	margin-bottom:5px;
}
.pdf_bg a{
	color:#333;
	font-weight:bold;
	text-decoration:none;
}
.pdf_bg a:hover{
	color: #cc7800;
	font-weight:bold;
	text-decoration:none;
}


.formtext{
width:130px;
font-family:Arial;
font-size:11px;
font-weight:bold;
line-height:14px;
text-align:left;
color:#006699;
float:left;
margin:8px 10px 5px 0 ;
}

.formtext_11{
width:280px;
font-family:Arial;
font-size:11px;
text-align:left;
line-height:14px;
color:#000;
float:left;
margin:0 0px 5px 0 ;
}
.text_bg1{
	background-image:url(../images/form_text_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 36px;
	width: 270px;
}
.text_bg1_text{
	height: 25px;
	width: 255px;
	font-family:Arial;
	font-size:12px;
	color:#666;
	margin:4px 0 0 8px;
	border:0px;
	background:none;
	line-height:18px;
}
.text_bg1_big{
	background-image:url(../images/form_text_bg_33.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 96px;
	width: 270px;
}
.text_bg1_text_big{
	height: 80px;
	width: 250px;
	font-family:Arial;
	font-size:12px;
	color:#666;
	margin:5px 0 0 8px;
	border:0px;
	background:none;
	line-height:18px;
}

.testmonials{
float:right; 
text-align:right;
}
.dotline{
	background-image:url(../images/dot_line.png);
	background-repeat: repeat-x;
	background-position: left center;
	height: 10px;
	width: auto;
	margin-bottom:10px;
}


.media{
float:left; 
margin-right:25px;
margin-bottom:12px;
}
.media_text{
text-align:center;
color: #000;
font-family:Arial;
font-weight:bold;
font-size:12px;
padding:5px; 

background-color:#ddb379;
}
.media_text a{
text-align:center;
color:#000;
}
.media_text a:hover{
text-align:center;
color: #fff;
}

.media_last{
float:left;
}


.video ul{
background-image:none;
}
.video ul li{
margin:5px 0 0 0;
background-image:none;
}

#bordercss{
border-collapse:collapse;
}
#bordercss tr {
}
#bordercss tr td {
padding:3px;
border:thin solid #999999;
}


.addperson_table{
width:292px;
height:60px; 
float:left; 
padding:7px;
margin:0 28px 10px 0;
background-color:#e8e8e8;
border:1px solid  #fff;
}
.add_heading_text{
margin-bottom:6px;
float:left; 
width:290px; 
font-size:12px;
font-weight:bold; 
color: #990000;
}
.contact_per{
float:left; 
width:120px;
font-size:11px;
font-weight:bold;
margin-bottom:5px;
}
.per_email{
float:left; 
font-size:11px;
width: auto;
margin-bottom:5px;
color:#006699
}
.per_email a{
float:left; 
color:#006699

}
.per_email a:hover{
float:left;
color:#000 
}















/* .....................................*/


#back-top {
	position: fixed;
	bottom:101px;
	margin-left: 965px;
}
#back-top a {
	width: 43px;
	display: block;
	text-align: center;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 43px;
	height: 43px;
	display: block;
	margin-bottom: 32px;
	background: url(../images/arrow_11.png) no-repeat center center;
	transition: 1s;
}
#back-top a:hover span {
	background: url(../images/arrow_111.png) no-repeat center center;
	
}




.headingbold{
font-size:16px;
font-weight:bold;
color:#cc7800;
margin:20px 0 8px 0;
}

.headingbold_sub{
font-size:13px;
font-weight:bold;
color:#cc7800;
margin:10px 0 8px 0;
}
.headingbold_sub a{
font-weight:bold;
color:#cc7800;
}
.headingbold_sub a:hover{
font-weight:bold;
color:#905500;
}

.headingbold_sub_1{
font-size:12px;
font-weight:bold;
color:#3e2920;
margin:10px 0 8px 0;
}
.headingbold_sub_1 a{
font-size:12px;
font-weight:bold;
color:#3e2920;
}
.headingbold_sub_1 a:hover{
font-size:12px;
font-weight:bold;
color:#000;
}

.headingbold_sub_2{
font-size:12px;
font-weight:bold;
color:#000;
margin:2px 0 2px 0;
padding:5px;
background-color: #CCCCCC;
width:215px;
text-align:right;
}
.headingbold_sub_2 a{
font-weight:bold;
color:#000;
}
.headingbold_sub_2 a:hover{
font-weight:bold;
color:#fff;
}


.headingbold_sub_3{
	font-size:16px;
	font-weight:bold;
	color:#006699;
	font-style: italic;
	font-family:"Times New Roman", Times, serif;
	margin-bottom:5px;
}



.midtablewidthleft{
font-family:Arial;
font-size:12px;
margin-bottom:20px;
text-align:justify;
}

.midtablewidthleft ul{
font-family:Arial;
font-size:12px;
color:#003366;
margin:5px 0 5px 0;
}
.midtablewidthleft ul li{
	font-family:Arial;
	font-size:12px;
	color:#000;
	background-image: url(../images/arrow_6.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:13px;
}
.midtablewidthleft ul li a{
	font-family:Arial;
	font-size:12px;
	color:#000;
}
.midtablewidthleft ul li a:hover{
	font-family:Arial;
	font-size:12px;
	color: #FF9900;
}


#list{
font-family:Arial;
font-size:12px;
margin-bottom:20px;
text-align:justify;
width:500px;
float:left;
}

#list ul{
font-family:Arial;
font-size:12px;
color:#003366;
margin:5px 0 5px 0;
}
#list ul li{
	font-family:Arial;
	font-size:12px;
	color:#000;
	background-image: url(../images/arrow_6.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left:13px;
}



p{
margin:0 0 7px 0;
line-height:17px;
color:#333333;
text-align:justify;
}
strong{
margin:0 0 10px 0;
line-height:18px;
color: #006699;
text-align:justify;
}
strong a:link{
color: #006699;
}
strong a:visited{
color: #006699;
}
strong a:hover{
color: #000;
}

.footer_bg{
	background-image:url(../images/footer_bg.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	height: 113px;
	width: auto;
}

.icon{
	background-image:url(../images/share_icon_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 30px;
	width: 136px;
	float:left;
}
.icon_1{
float:left; margin:0px 5px 0 0px;
margin-top:40px;
}

.copy{
float:left;
font-size:11px;
width:auto;
color:#FFF;
margin:49px 70px 0 0;
}
.copy a{
color:#FFF;
}
.copy a:hover{
color:#000;
}

.kweb{
	background-image: url(../images/kweb_bg.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 60px;
	width: 81px;
	float:right;
	margin:13px 5px 0 0 ;
	padding:40px 0px 0 12px;
	color:#FFF;
	font-weight:normal;
	font-size:11px;
}
.kweb a{
	color:#FFF;
}
.kweb a:hover{
	color: #67b7cb;
}
