
.scroll-img {
/*  border: 1px solid red;*/
  width: 493px;
  height: 114px;
  overflow: hidden;
  font-size: 0;
  margin-left:10px;
}
.scroll-img ul {
  width: 493px;
  height: 600px;
  margin: 0;

}
.scroll-img ul li {
  display: inline-block;
  margin: 5px 0 10px 7px;
}

#demo5.scroll-img ul {
  width: 1500px;
}
#demo5-btn {
  width: 493px;
  padding-top:10px;
  position: relative;
  z-index:1000000;
  
}

.text-center{text-align:left;
bottom:131px;
left:-55px;
}
#demo5-backward{
	background-image:url(../images/arrow_1.png);
	border:0px;
	outline:none;
	width:16px;
	height:17px;
	cursor: pointer;
	margin-left:25px;
	margin-top:12px;
	background-repeat: no-repeat;
}

#demo5-forward{
background-image:url(../images/arrow_2.png);
border:0px;
outline:none;
width:16px;
height:17px;
cursor: pointer;
background-repeat: no-repeat;
}

