﻿h1
{
    font-size: 25px;
}

strong
{
    font-weight: bold;
}

.clear
{
    clear: both;
}

.clear-left
{
    clear: left;
}

.clear-right
{
    clear: right;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.required
{
    color: Red;
}

.no-margin
{
    margin: 0px;
}

.topWrapper
{
    border: solid 1px #000;
}

.topDiv
{
    
}

.contentWrapper
{
    padding: 0px 5px 5px 5px;
}

.contentDiv
{
    
}

.logout
{
    display: block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.logout:hover
{
    text-decoration: underline;
}

/**************** GRID START ****************/
.mGrid
{
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse:collapse;
}

.mGrid .selected-row
{
    background-color: #e0e0e0;
}

.mGrid td 
{
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
    
    vertical-align: top;
}

.mGrid th 
{
    padding: 7px 2px;
    color: #fff;
    font-weight: bold;
    /*background: #424242 url(../../images/grd_head.png) repeat-x top;*/
    background: #424242;
    border-left: solid 1px #525252;
    font-size: 0.9em;
}

.mGrid th a
{
    text-decoration: none;
    color: #fff;
}

.mGrid th a:hover
{
    text-decoration: underline;
}

.mGrid .alt 
{
    /*background: #fcfcfc url(../../images/grd_alt.png) repeat-x top;*/
    background: #ebebeb;
}

.mGrid .pgr 
{
    /*background: #424242 url(../../images/grd_pgr.png) repeat-x top;*/
    background: #fcfcfc;
}

.mGrid .pgr table 
{
    margin: 5px auto;
}

.mGrid .pgr td 
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}

.mGrid .pgr span
{
    color: #000;
    text-decoration: underline;
}

.mGrid .pgr a 
{
    color: #666;
    text-decoration: none;
}

.mGrid .pgr a:hover 
{
    color: #000;
    text-decoration: none;
}

.mGrid .empty
{
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
/****************  GRID END ****************/

.textbox
{
    width: 250px;
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    font-family: Segoe UI;
    margin-bottom: 5px;
}


.textbox1
{
   /*width: 250px;*/
   width: 61px;
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    font-family: Segoe UI;
    margin-bottom: 5px;
}

.dropdown
{
    font-size: 13px;
    padding: 5px;
    height: 30px;
    margin: 2px 0 0 0;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.button
{
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #e0e0e0;
    border: 1px solid #b2b2b2;
	color: #000;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #afafaf;
	cursor: pointer;
	text-align: center;
}

.button:hover
{
    background-color: #CFCFCF;
    border: 1px solid #a8a8a8;
}

.button:active 
{
	position:relative;
	top:1px;
}

.button-grid
{
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #e0e0e0;
    border: 1px solid #b2b2b2;
	color: #000;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #afafaf;
	padding: 5px;
	display: block;
	cursor: pointer;
	text-align: center;
	width: auto;
}

.button-grid:hover
{
    background-color: #CFCFCF;
    border: 1px solid #a8a8a8;
}

.button-grid:active 
{
	position:relative;
	top:1px;
}

.button-search
{
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #e0e0e0;
    border: 1px solid #b2b2b2;
	color: #000;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 15px 4px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #afafaf;
	cursor: pointer;
	text-align: center;
}

.button-search:hover
{
    background-color: #CFCFCF;
    border: 1px solid #a8a8a8;
}

.button-search:active 
{
	position:relative;
	top:1px;
}

.control-label
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 8px;
}

/************* MESSAGE START ********************/
.info, .success, .warning, .error
{
    border: 1px solid;
    margin: 10px 0px;
    background-repeat: no-repeat;
    background-position: 5px center;
    position: relative;
}

.info
{
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/info.png');
}

.success
{
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/success.png');
}

.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/warning.png');
}

.error
{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/error.png');
}

.MessageContainer
{
    width: 90%;
    margin: 0px auto;
}

.info p, .success p, .warning p, .error p
{
    padding: 10px 20px 10px 40px;
}

.info a, .success a, .warning a, .error a
{
    position: absolute;
    top: 3px;
    right: 5px;
    display: block;
    cursor:pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #484848;
}

.info a:hover, .success a:hover, .warning a:hover, .error a:hover
{
    color: #000;
}

.MessageContainer img
{
    border: none;
}
/************* MESSAGE END *********************/

.product-sub-menu
{
    
}

.product-sub-menu ul
{
    list-style-type: none;
}

.product-sub-menu ul li
{
    display: block;
    float: left;
    margin-left: 2px;
}

.product-sub-menu ul li a
{
    display: block;
    padding: 5px;
    color: #242424;
    background-color: #e0e0e0;
    border: 1px solid #b2b2b2;
    text-decoration: none;
}

.product-sub-menu ul li a:hover
{
    background-color: #CFCFCF;
    border: 1px solid #a8a8a8;
}

.product-sub-menu ul li a.selected
{
    background-color: #CFCFCF;
    border: 1px solid #a8a8a8;
    border-bottom-color: #414141;
    border-bottom-width: 3px;
}

.multi-select-check-list td
{
    border: 1px solid #a8a8a8;
    padding: 5px;
    width: 180px;
}

.multi-select-check-list input[type=checkbox]
{
    
}

.multi-select-check-list label
{
    padding-left: 5px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    font-weight: bold;
}

.selected-item-row
{
    /*border: solid 1px #000;
    background-color: #CFCFCF;*/
    
    background-color: #e8eef1;
}

.selected-row-class,.unselected-row-class
{
    display: block;
    /*border-bottom-style: solid;
    border-bottom-width: 2px;*/
}

.prod-img-container
{
    border: solid 0px #000;
    width: 150px;
    height: 180px;
    margin: 0px auto;
    display: block;
}

.prod-img-container-thumb
{
    border: solid 0px #000;
    width: 75px;
    height: 75px;
    margin: 0px auto;
    display: block;
}

.trans-details
{
    display: block;
    font-size: 12px;
}

.page-header
{
    border: solid 1px #d9d9d9;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: #f4f4f4;
    margin-bottom: 5px;
}

.form-box
{
    border: solid 1px #d9d9d9;
    padding: 5px 30px 15px 30px;
    width: 500px;
    margin: 0px auto;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.form-box-wrapper
{
    width: 980px;
    margin: 0px auto;
}

.form-box-wrapper .form-box
{
    margin-right: 10px;
}

.file-upload
{
    border: solid 1px #d9d9d9;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    font-weight: bold;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}