/*=========Start of the common css=========*/
.nopad{padding: 0!important;}
.nomar{margin: 0!important;}
a:hover,a:focus{text-decoration: none; outline: none;}
.mb-0{margin-bottom: 0px!important}
.pb-0{padding-bottom: 0px!important}
.pad-T20{padding-top: 20px!important;}
.pad-T40{padding-top: 40px!important;}
.pad-T50{padding-top: 50px!important;}
.pad-B20{padding-bottom: 20px!important;}
.pad-B40{padding-bottom: 40px!important;}
.pad-B50{padding-bottom: 50px!important;}
/*Juned css*/
.redbottom-border h3 {position:relative;}
.redbottom-border h3::before{content:''; width:200px; height:4px; background:#e21838; position:absolute; bottom:50px; left:0; right:0; text-align:center; margin:0 auto;}
/*Juned css*/

/*display: -webkit-box;*/   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
/*display: -ms-flexbox; */ /* TWEENER - IE 10 */
/*display: -webkit-flex;*/ /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
/*=========End of the common css=========*/
/*======Start of the header======*/
/*.homepage-fullwrap{display: none;}*/
.header-innerwrap{margin: 0 auto;padding: 25px 0 0px;display:flex; justify-content: space-between;    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */;

}
.left-logosection{display: inline-block;vertical-align: top;margin-left: 30px;}
.right-menusection{display: inline-block;vertical-align: top;float: right;}
/*.navigation-menu{}*/
.navigation-menu{margin-bottom: 0px;}
.navigation-listing{xborder-bottom: 1px solid #e11838;padding-right: 30px;margin-bottom: 0px;}
.navigation-listing li{margin: 0 22px;}
.navigation-listing li:last-child{margin-right:0px;}
.navigation-listing li a.active {border-bottom: 3px solid #e21838;padding-bottom: 8px;color:#e21838;}
.navigation-listing li a{font-size: 14px;text-transform: uppercase; color: #333;lxetter-spacing: 2px;padding-bottom: 10px;font-family:Roboto,sans-serif;font-weight:700;}
.navigation-listing li:hover a{border-bottom: 3px solid #e21838;padding-bottom: 8px;color:#e21838;}
/*
.header-innerwrap.active{background: #fff;position: fixed;width: 100%;z-index: 99;padding: 10px 152px 5px ;-webkit-transition: all 0.4s ease;
 		transition: all 0.4s ease;}
.header-innerwrap.active .left-logosection img{width: 80%;}

.header-innerwrap.active .navigation-menu{margin-bottom: 2px;}
.header-innerwrap.active .right-menusection{width:72%;margin-top: -7px;}
.header-innerwrap.active .small-logosection{display: inherit;float: right;}
.header-innerwrap.active .navigation-menu{float: left;}
.header-innerwrap.active .navigation-listing{border-bottom: 1px solid #e5e5e5;}
.header-innerwrap.active .navigation-listing li a{color: #757575;}
*/
/*======End of the header======*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/
.flip-box-inner img {
    cursor: pointer;
}
/*.homepageslider-inner .item img{height:100%;}*/
/*=====Start of the product category=====*/
/*.slidertop-innerwrap{position: relative;background: gray;height: 100vh}*/
.productcateg-mainsect{position:relative;}

.prodcateg-innerwrap{max-width: 800px;background: #fff;position: absolute; right: 60px;width: 100%;top:-15px;z-index:9;display:none; box-shadow: rgb(138, 138, 138) 0px 3px 6px;}


.prodcat-navtabs {box-shadow: 0px 2px 1px #dfdfdf;    border-top: 3px solid #ececec;}

.prodcat-navtabs li{width: 19.8%;border-right: 1px solid #ededed;text-align: center;padding-top: 15px;}
.prodcat-navtabs li img{padding-bottom: 12px;margin: 0 auto;width: 60%; heixght: 120px;}
.prodcat-navtabs li.active{position: relative}
.prodcat-navtabs li.active:nth-child(1):after{left: 0px;width: 100%;}
.prodcat-navtabs li.active:last-child:after{width: 100%;}

.prodcat-navtabs li.active:after{content: "";border-bottom: 3px solid #e21838;position: absolute;background: #e21838;width: 101%;left: -2px;bottom: -2px;height: 3px;}
.prodcat-navtabs li:last-child{border-right: 0px;}

.prodcat-navtabs li a{color:#949599; text-transform: uppercase;}
.prodcat-navtabs>li.active>a, .prodcat-navtabs>li.active>a:focus, .prodcat-navtabs>li.active>a:hover{background: transparent; color: #e21838;border-radius:0px;}
.prodcat-navtabs>li>a:focus, .prodcat-navtabs>li>a:hover{background-color: transparent; color: #e21838;border-radius:0px;}

.commonprod-catinner{padding: 40px 0 35px; }
.catprod-leftimg img{margin: 0 auto; width: 240px;}
.catprod-leftimg {width: 32%;display: inline-block;vertical-align: top;}
.catprod-rghtcontent{width: 64.6%;display: inline-block;vertical-align: top;padding-left: 40px;border-left:1px solid #eeeeee;}
.catprod-rghtcontent .prodsmall-txt{margin: 0px;text-transform: uppercase;color: #e21838; font-size: 14px;}
.catprod-rghtcontent .prodbig-txt{margin: 0px;text-transform: uppercase;color: #000000; font-size: 30px;font-family: 'Roboto',sans-serif; font-weight: 500;}

.icon_head {
    font-size: 18px;
    color: #494a49;
    font-weight: 700;
    padding-bottom: 12px;
    text-transform: capitalize;
}

.proddiff-catlist{padding-top: 30px;}

.viewall-btnwrap{padding-top: 5px;}
.viewall-btnwrap .viewallbtn{color: #e21838;font-size: 14px;border: 1px solid #494a49; border-radius: 5px;padding: 8px 15px;text-transform: capitalize}
.proddiff-catlist .icon_head {position: relative;}
.proddiff-catlist .icon_head:before {content: "";position: relative;top: -8px;background: #e21838;width: 62px;height: 3px;display: block;}
.bannerForm_Sec{position:relative;}

/*=====End of the product category=====*/


/*======Start of the explore range=======*/
.explorerange-innerwrap h3{text-align: center;font-size: 44px;color: #494a49;font-weight: 900;padding-bottom: 80px;}
.explorerange-innerwrap h3 span {font-size: 50px;color: #e21838;font-weight: bold;font-family: 'Parisienne', cursive;}


.explorerange-innergrid{/*max-width:1220px;*/ max-width:100%; margin:0 auto;}
.exploregrid-listing{margin:0px;}
.exploregrid-listing li{width:49.8%;baxckground:#fff;padding:0px;margin-bottom:-8px;vertical-align:top;}
.rightexplore-content{display:inline-block; vertical-align:top;width:49.9%;background:#fff;min-height:357px;margin-left:-4px;}
.leftexplore-img{display:inline-block; vertical-align:top;width:49.3%; position:relative;}
.leftexplore-img img{width:100%;}
.individual-explorelist img{width:100%;}
.leftexplore-img::before {content: '';   border-top: 20px solid transparent; border-right: 40px solid rgba(255, 255, 255, 0.62);  border-bottom: 20px solid transparent; position: absolute; top: 50%;  right: 0;}

.exploreicon-contdiv{position:relative;text-align:center;padding:10px 0 20px;}
.exploreicon-div {padding-top:15px;}
.exploreicon-div img{width:75%;margin: 0 auto;}
.exploreicon-contdiv{padding-top:45px;}
.exploreicon-contdiv .heading {font-size:18px; text-transform:uppercase;color:#e21838;padding-bottom:5px;}
.exploreicon-contdiv p{font-size:14px;color:#494a49;}
.explorearrow-div{position:absolute;right:10px;top:80px;}
.explorearrow-div img{width:35px;}

.individual-explorelist{margin-left:-11px;position:relative;}
.exploregrid-listing li:nth-child(3) .leftexplore-img{margin-left:-3px;}
.exploregrid-listing li:nth-child(3)  .leftexplore-img::before{content:none;}
.exploregrid-listing li:nth-child(4)  .leftexplore-img::before{content:none;}

.exploregrid-listing li:nth-child(3) .rightexplore-content::before {content: '';border-top: 20px solid transparent;border-left: 40px solid rgba(255, 255, 255, 0.62);border-bottom: 20px solid transparent;
    position: absolute;top: 15%;left: 360px;z-index: 9;}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before {content: '';border-top: 20px solid transparent;border-left: 40px solid rgba(255, 255, 255, 0.62);border-bottom: 20px solid transparent;
    position: absolute;top: 15%;left: 360px;z-index: 9;}

.exploregrid-listing li:nth-child(7) .leftexplore-img{margin-left:-3px;}
.exploregrid-listing li:nth-child(7)  .leftexplore-img::before{content:none;}
.exploregrid-listing li:nth-child(7) .rightexplore-content::before {content: '';border-top: 20px solid transparent;border-left: 40px solid rgba(255, 255, 255, 0.62);border-bottom: 20px solid transparent;
    position: absolute;top: 15%;left: 360px;z-index: 9;}
.exploregrid-listing li:nth-child(8) .leftexplore-img{margin-left:-3px;}
.exploregrid-listing li:nth-child(8)  .leftexplore-img::before{content:none;}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before {content: '';border-top: 20px solid transparent;border-left: 40px solid rgba(255, 255, 255, 0.62);border-bottom: 20px solid transparent;
    position: absolute;top: 15%;left: 360px;z-index: 9;}

.exploregrid-listing li:nth-child(4) img {
    margin-left: 0px;
}
.exploregrid-listing li:nth-child(8) .rightexplore-content  {
    margin-left: 0px;
}

.explorerange-innerwrap{padding-top:80px;}
.exploreimg-div{background:#f2f2f2;padding:25px 20px;position:relative;box-shadow: 0px 10px 10px #cac6c6;}
.exploreimg-div img {margin:0px auto;}
.exploreimg-hiddenarrow{position:absolute;bottom:20px;right:25px;display:none;}
.exploreimg-div:hover{background:#e21838;}
.explorerange-content p{color:#494a49;font-size:14px;padding-top:5px;font-weight:500;}
.explorerange-content h4{color:#e21838;font-size:26px;padding-top:5px;font-weight:800;}
.explorerange-content{padding-top:10px;}
.individualexplore-innerlist{position:relative;}

.explorehidden-hoverimg{position:absolute;top:0px;display:none;}
.explorerange-innergrid{max-width:1000px;margin:0 auto;}


.exploreimg-div:hover .exploreimg-hiddenarrow{display:block;}

.individual-explorerange{width:32.3%;display:inline-block;margin-right:8px;margin-bottom:40px;}


.individualexplore-innerlist{position:relative;}
.tooltip.in{opacity:1;}
.tooltip-arrow{display:none;}
.tooltip-inner{background:transparent;color:transparent;}
.tooltip-inner img{width:435px;height:412px;box-shadow: -3px 2px 8px 0px #222;}
/*.tooltip.right{padding:0px;margin-left:0px;}*/
.tooltip { pointer-events: none; }
.tooltip.left{left:-455px!important}
/*======End of the explore range=======*/

/*=====Start of the auto slider css=======*/


.mt-30 {
    margin-top: 30px;
}
.home-security{padding-top:50px;}

.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.border-shadow {
    box-shadow: 15px -15px #fff0f5;
    -moz-box-shadow: 15px -15px #fff0f5;
    -webkit-box-shadow: 15px -15px #fff0f5;
    -o-box-shadow: 15px -15px #fff0f5;
}

.home-security-content {
    width: calc(100% - 50%);
    background: #fff;
    color: #000;
    padding: 100px 20px 100px 90px;
    margin-left: -100px;
    position: relative;
    box-shadow: rgb(138, 138, 138) 0px 3px 6px;
    z-index: 10;
}

    .home-security-content .info {
        color: #494a49;
        font-size: 14px;
        font-family:Roboto,sans-serif;
        font-weight:400;
        line-height:22px;
    }

.highlight-text {
    color: #e21838;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    margin-top: 20px;
    line-height:24px;
}

.home-security .carousel-indicators {
    left: 5%;
}

    .home-security .carousel-indicators .active {
        background-color: #000;
        border: 1px solid #000;
    }


    .home-security .carousel-indicators li {
        background-color: #e9ebed;
        border: 1px solid #e9ebed;
    }

/**************Video Page****************/
.video-container { position: relative }
.video-container::after { content: ""; background: #f5f7f5; position: absolute; width: 100%; height: 56%; left: 0; top: 0; z-index: -1; border-bottom: 1px solid #e4e4e4; }
.video-header .heading { font-size: 44px; text-align: center; color: #494a49 }
.video-header .heading span { color: #e21838;font-family: 'Parisienne', cursive; font-size:50px;}
.video-header .info { text-align: center; max-width: 830px; margin: auto; padding-top: 10px; font-size: 14px;line-height:20px; }
.nav-tabs { border-bottom: none; margin: auto; display: table; }
.video-tab-link { border-bottom: 1px solid #e21838; margin-top: 50px; }
.video-tab-link .nav-tabs > li.active > a, .video-tab-link .nav-tabs > li.active > a:focus, .video-tab-link .nav-tabs > li.active > a:hover { color: #e21838; background-color: transparent; border: none; border-bottom: 3px solid #e21838; }
.video-tab-link .nav-tabs > li > a:hover { border: none; border-bottom: 3px solid #e21838; }
.video-tab-link .nav > li > a:focus, .video-tab-link .nav > li > a:hover { text-decoration: none; background-color: transparent; }
.video-tab-link .nav-tabs > li > a { border-radius: 0; color: #939598; font-size: 16px; text-transform: uppercase; border-bottom: 3px solid transparent; }
.video-tab-link .nav-tabs > li > a{border: none}
.video-box { margin-top: 40px; }
.video-card { margin-bottom: 50px; }
.video-card .video-frame { width: 100%; background: #ddd;/* height: 290px; */ border-radius: 20px; overflow: hidden; }
.video-details h4 { color: #494a49; font-size: 16px; font-weight: bold; margin-top: 15px;line-height:20px }
.video-details p { color: #494a49; font-size: 14px;padding-top:5px; line-height:20px; padding-top:10px;padding-left:20px;text-align:center;}
.video-frame { position: relative; padding-bottom: 70%; /*padding-top: 30px;*/ height: 0; overflow: hidden; }
.video-frame iframe, .video-frame  object, .video-frame embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.videocontainer-innerwrap{padding-top:50px;}
.videosfeature-wrap .all-vdo:focus{ color: #fff;}
.videosfeature-wrap .all-vdo:hover{ color: #fff;}
.videosfeature-wrap .all-vdo{background:#e21838; border-color:#e21838; color:#fff;}

.project-btn:hover{color:#fff;}

.readmore-videbtn{paxdding:20px 10px 20px 0;text-decoration:underline; font-size:14px;color:#e21838;displaxy:block;text-align:center;}
.readmore-videbtn:hover{text-decoration:underline;color:#e21838;}
.form_sec.thankYou{bottom:0px;}
.videosfeature-wrap .yt_videos p {font-size: 14px;}
/*=====End of the auto slider css=======*/
/*====Start of the amazing features=======*/
.AmazingFeatureSec {
    padding-top: 80px;
}
/*====End of the amazing features=======*/
.ft_social li.whatspp-icon {padding-top:3px;}

/*=========Start of the product features==========*/
.prodfeature-innerwrap{padding-top:40px;}
.prodfeature-innerwrap .iconwrpSec{padding-top:10px;}
/*=========End of the product features==========*/

/*======Start of the individual prod =======*/
.productindividual-wrap{padding-top:40px;}
.productindividual-wrap .PrDeas h2{font-size:45px;}
.productindividual-wrap .PrDeas h5{font-size:22px;}
.productindividual-wrap .PrDeas p, .productindividual-wrap  .PrDeas figcaption{font-weight:400; font-size:14px;font-family:'Roboto',sans-serif;}
.prodctboxes-imgcontainer{padding-top:0px;padding-bottom:20px; display:none;}
.productdumm-innerimg {position:relative;}
.productdumm-innerimg img{width:100%;}
.prodctdummy-innercontent{background:#fff;max-width:600px; height:auto;position:absolute;top:50%;width:100%;left:50px;margin-top:-140px;}
.prodctdummy-innercontent p{font-family:Roboto,sans-serif; font-size:16px;line-height:24px;color:#000;padding:55px;display:flex;align-items:center;height:100%;}
.prodctdummy-content{padding: 40px 0px;}
.prodctdummy-content p{color: #494a49;font-size: 16px;line-height: 24px;font-family:'Roboto',sans-serif;font-weight:400;}
.prodctboxes-imgcontainer ul li{width:33%;padding:0px;}
.prodctboxes-imgcontainer ul{margin-left:5px;}
.individualprod-boxwrap{background:gray;height:400px;}
.individualprod-boxwrap img{width:100%;}
.productindividual-wrap .PrDeas{padding-top:100px; padding-left:60px;}


/*======End of the individual prod =======*/

/*======Start of the about us page===========*/
.aboutus-bannerwrp img{height:500px;width:100%;}
.aboutus-bannerwrp{padding:20px 0}
.aboutus-contentwrap{padding:20px 30px 40px;text-align:center;}
.aboutus-contentwrap .heading{font-size:44px;text-align: center;color: #494a49;}
.aboutus-contentwrap .heading span {color: #e21838; font-family: 'Parisienne', cursive;font-size:50px;}
.aboutus-contentwrap .info {text-align: center;max-width: 830px;margin: auto;padding-top: 10px;font-size: 14px;line-height: 24px;}


/*======End of the about us page===========*/
.exploreSec{padding-top:0px}
/*#bannerBig .owl-item img{height:500px;}*/
.reainew-bannerimg img{height:480px;}
.replacenew-bannerimg img{height:480px;}
.amazingfeature-wrap{padding-top:20px;}

/*======Start of the media queries=======*/

@media(min-width:2560px){
    
   .exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:635px!important}
   .exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:635px!important}

   .exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:635px!important}
   .exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:635px!important}

    
}/*=====end of the media  2560px=========*/

@media(min-width:1900px) and (max-width:2000px){
 .exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:478px!important}
 .exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:478px!important}

 .exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:478px!important}
 .exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:478px!important}

}/*=====end of the media  1900px and 2000px=========*/

@media(min-width:1800px){
  /*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/

 /*======Start of the explore range=======*/
    .exploregrid-listing li:nth-child(4) img{margin-left:0px;}
     .explorearrow-div{top:135px;}
    /*======End of the explore range=======*/
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:445px}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:445px}

.exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:445px}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:445px}

}/*=====end of the media  1800px=========*/

@media(min-width:1500px) and (max-width:1620px){
   /*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/

    /*======Start of the explore range=======*/
    .exploregrid-listing li:nth-child(4) img{margin-left:0px;}
    .explorearrow-div{top:115px;}
 
    /*======End of the explore range=======*/
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:398px}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:398px}

.exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:398px}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:398px}
    
}/*=====end of the media  1500px and 1620px=========*/

@media (min-width:1350px) and (max-width:1439px){

/*=====Start of the explore range==========*/
.exploregrid-listing li:nth-child(4) img{margin-left:0px;}
.prodcateg-innerwrap{right:15px;}
/*=====End of the explore range==========*/
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:335px}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:335px}

.exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:335px}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:335px}


} /*===end of the media 1350px and 1439px=====*/

@media (min-width:1200px) and (max-width:1340px){
/*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/

    /*======Start of the explore range=======*/

    /*======End of the explore range=======*/
.prodcateg-innerwrap{right:15px;}
.explorearrow-div{top:75px;}
 .exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:325px}
 .exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:325px}

 .exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:325px}
 .exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:325px}
      
    
} /*===end of the media 1200px and 1340px=====*/

@media (min-width:1200px) and (max-width:1279px){

 /*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/
 .explorearrow-div{top:65px;}
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:310px}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:310px}

.exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:310px}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:310px}

}/*=======End of the media 1200 and 1279px=============*/
@media (min-width:1160px) and (max-width:1199px){
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{left:288px}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{left:288px}

.exploregrid-listing li:nth-child(7) .rightexplore-content::before{left:288px}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{left:288px}

    /*=====Start of the header=========*/

/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/
.explorearrow-div{top:75px;}

} /*====end of the 1160px and 1199px=====*/

@media (min-width: 992px) and (max-width: 1199px){

.home-security-content {
width: calc(100% - 40%);
padding: 30px;
}

.home-security-content .info {
font-size: 15px;
}

.highlight-text {
font-size: 18px;
}

/*=====start of the video page=====*/
    .video-container::after {
        height: 700px;
    }
/*=====End of the video page=====*/
.prodcateg-innerwrap{right:0px;}
/*.resize-wrap .tooltip-inner img{right:0;position:absolute;}

.redesign-wrap .tooltip-inner img{right:-208px;position:absolute;}
.remote-wrap .tooltip-inner img{right:118px;position:absolute;}*/
.replace-wrap .tooltip-inner img{right:118px;position:absolute;}
.redesign-wrap .tooltip-inner img{right:-208px;position:absolute;}
/*.individual-explorerange{width:23.9%;margin-right:10px;}*/
.explorerange-gridlisting{margin-left:0px;}
.resize-wrap{margin-right:0px;}
.remote-wrap{margin-right:0px;}

/**992**/	
}


@media (min-width:992px) and (max-width:1159px){

  /*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/
   
/*======Start of the explore range=====*/
.exploregrid-listing li{margin-bottom:-8px;}
.rightexplore-content{min-height:305px;}
.exploregrid-listing li:nth-child(4) img{margin-left:0px;}
.explorerange-innergrid{box-shadow:none;}
.explorearrow-div{top:55px;}
/*======End of the explore range=====*/

/*======Start of the prodct individual page=========*/
.productindividual-wrap .PrDeas{padding-top:150px;}

/*======End of the prodct individual page=========*/

/*======Start of the prodct individual page=========*/
.prodctdummy-innercontent{height:auto;margin-top:-150px;}
.prodbbanner-img img{height:400px;}
/*======End of the prodct individual page=========*/
.leftexplore-img::before{border-right:0px;}
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{content:none}

.exploregrid-listing li:nth-child(7) .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{content:none}

} /*===end of the media 992px and  1159px=====*/

@media(max-width:991px)
{
  /*=====Start of the header=========*/
     
/**Nawaz Khan**/

.navigation-menu {background: #fff;position: fixed;width: 0;right: -2px;top: 0;height: 100vh;overflow: auto;transition: 0.2s linear}

.navigation-listing li {margin: 0px;}

.navigation-listing.list-inline > li {display: block;padding: 0;width: 100%;border-bottom: 1px solid #939598;}

.navigation-listing li a {padding-bottom: 0px;width: 100%;display: block;font-size: 14px;padding: 20px 20px;font-weight:500;}

.navigation-listing li.active a{color:#e21838;}
.hamburger-icon .line{  width: 30px;  height: 3px;  background-color: #939598;  margin: 4px 0;  cursor: pointer;  }
.hamburger-icon .line:last-child{width:20px;}
.menu-open{width: 100% !important;}

.close-menu{color: #e21838;text-align: right;font-size: 25px;margin: 10px;cursor: pointer}
.left-logosection{width:35%;margin-left:0px;}
.header-innerwrap{padding:20px 10px 10px;}
.navigation-menu.menu-open{z-index:999;right:0px;}
.navigation-listing{padding-right:0px;}
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/
/*=======Start of the product category list========*/
.prodcat-navtabs li{width:49%;}
.catprod-rghtcontent{width:100%;padding:0 20px;}

.mobprod-categlist .prodcat-navtabs li{border-top:1px solid #ededed;}
.mobprod-categlist:first-child .prodcat-navtabs li{border-top:0px;}
.mobprod-categlist:last-child  .prodcat-navtabs li{border-right:1px solid #ededed;}
.prodcat-navtabs li.active:after{bottom:-3px;}
.topcommon-mobtabcontent .top-pane{display:none;}

/*=======End of the product category list========*/

    /*======Start of the explore range=======*/

    /*======End of the explore range=======*/

/*=====Start of the mob product menu=====*/
.mobproduct-categ{display:inline-block;vertical-align:middle;padding-right:15px;}
.hamburger-icon{display:inline-block;vertical-align:middle;}

.mobproduct-categ a{color:#939598;font-family:Roboto,sans-serif;}
.mobproduct-categ a.active{color:#e21838;}
.prodcateg-mobinner{position:absolute;top:0px;z-index:99;background:#fff;display:none;}
/*=====End of the mob product menu=====*/
        /*.form_sec{top:8%;}
        .Fopen{top:56px;}*/
.OpenF .form_sec {right:50px;left:inherit}
.form_sec{right:50px;left:inherit}
.reainew-bannerimg img{height:auto;}
.replacenew-bannerimg img{height:auto;}


/**************************/
.individual-explorerange{width:100%;margin-bottom:0px;}
.mobexplore-innerrange{padding:20px 15px;}
.explorerange-content p{font-size:12px;}
.explorerange-content h4{font-size:20px;}
.exploreimg-hiddenarrow{bottom:5px;right:5px;}
.mobexplore-rangecarsouel .leftarrow-explore{position:absolute;top:36%;left:-10px;transform:rotate(180deg)}
.mobexplore-rangecarsouel .rightarrow-explore{position:absolute;top:36%;right:-10px;}

.rightarrow-mobexplore{width:35px;height:35px;}
.leftarrow-mobexplore{width:35px;height:35px;}



}/*============End of the max width 991px==============*/

@media (min-width:768px) and (max-width:991px){
.mobexplore-rangecarsouel .rightarrow-explore{top:46%;}
.mobexplore-rangecarsouel .leftarrow-explore{top:46%;}


    /*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/

    /*======Start of the explore range=======*/

    /*======End of the explore range=======*/

/*=======Start of the auto slider=========*/
.home-security-content {
width: calc(100% - 0%);
padding: 20px;
margin-left: -100px;
}

.home-security-content .info {
font-size: 14px;line-height:20px;
}

.highlight-text {
font-size: 16px;
}

/*=======End of the auto slider=========*/
/*======Start of the explore range=========*/
.explorerange-innergrid{box-shadow:none;max-width:642px; margin:0 auto;}
.exploregrid-listing li{width:49%;margin-bottom:-8px;}
.exploreicon-div img{width:50%;}
.rightexplore-content{min-height:192px;height:100%;}
.exploreicon-contdiv{padding-top:25px;}
.individual-explorelist{margin-left:0px;}
.explorearrow-div img{width:100%;}
.explorearrow-div{top:68%;width:20%;right:2px;}
.leftexplore-img img{width:100%;}
.exploregrid-listing li:nth-child(4) img{margin:0 auto;}
.exploregrid-listing li:nth-child(3) .rightexplore-content{margin-left:0px;}
.exploregrid-listing li:nth-child(7) .rightexplore-content{margin-left:0px;}
.exploregrid-listing li:nth-child(8) .rightexplore-content{margin-left:0px;}

.exploreicon-contdiv .heading{font-size:16px;}
.exploreicon-contdiv p{font-size:12px;}

/*======End of the explore range=========*/
/*=====start of the video page=====*/
.video-header .info {max-width: 630px;}
.video-card {margin-bottom: 70px;}
.video-container::after{top:61%;}
/*=====End of the video page=====*/

/*======Start of the prodct individual page=========*/
.productindividual-wrap .PrDeas{padding-top:100px;}
.prodctdummy-innercontent{max-width:430px;height:auto;margin-top:-150px;}
.prodctdummy-content{padding:80px 20px;}
.prodbbanner-img img{height:400px;}
/*======End of the prodct individual page=========*/
.ft_social{padding:0px;}
    .flip-box-inner img{width:auto!important;background:#fff;}
    .flip-box-back{width:100%!important; height:100%!important;    display: none;transform: none; backface-visibility: visible;}
    .flip-box-front{backface-visibility: visible;}
    .flip-box:hover .flip-box-inner{transform:none}
.leftexplore-img::before{border-right:0px;}
.exploregrid-listing li:nth-child(3) .leftexplore-img{margin-left:-5px;}
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child(4) .leftexplore-img{margin-left:-5px;}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{content:none}



} /*===end of the media 768px and 991=====*/

@media (min-width:400px) and (max-width:500px)
{

}/*======End ofthe media 400 and 500px========*/

@media (min-width:501px) and (max-width:600px)
{
  
}/*======End ofthe media 501 and 600px========*/
@media (min-width:601px) and (max-width:767px)
{

}/*======End ofthe media 601 and 767px========*/

@media (max-width:767px){
 /*=====Start of the header=========*/
/*=====End of the header=========*/
/*=====Start of the Footer=========*/
/*=====End of the Footer=========*/
 
/*==========Start of the auto slider==========*/
.home-security{
flex-direction: column;padding-top:30px;
}

.home-security-content {
padding: 15px;
margin-left: 0;
width: 100%;
}

.border-shadow{
box-shadow: 10px -10px  #fff0f5;
}

.home-security-content .info {
font-size: 15px;
}

.highlight-text {
font-size: 14px;
line-height: 1.2;
}
.tbaDeasIN p{font-size:12px;}
.home-security .carousel-indicators {
left: 30px;
bottom: 0;
}
.home-security-content .info{font-size:12px;}
.project-title-wrap h4{font-size:18px;}
.project-btn{float:right!important;margin-top:0px;}
/*==========End of the auto slider==========*/
/*======Start of the explore range=========*/
.explorerange-innerwrap{padding-top:20px;}
.explorerange-innergrid{box-shadow:none}
.exploregrid-listing li{width:100%;margin-bottom:0px;background:#fff;}
.exploreicon-div img{width:50%;}
.rightexplore-content{min-height:auto;height:auto;width:50%;background:transparent;}
.exploreicon-contdiv{padding-top:7px;}
.explorearrow-div img{width:60%;float:right;}
.explorearrow-div{top:initial;bottom:-28px;}
.leftexplore-img img{width:100%;}
.exploregrid-listing li:nth-child(4) img{margin: 0 auto}
.explorerange-innerwrap h3{font-size:32px;padding-bottom:30px;}
.explorerange-innerwrap h3 span{font-size:32px;}
.individual-explorelist{display:flex; display:-webkit-flex;display:-moz-box;display:-ms-flexbox;margin-left:0px; }
.leftexplore-img{width:50%;}
.leftexplore-img::before{content:none;}
.exploregrid-listing li:nth-child(3) .leftexplore-img{margin-left:0px;order:-1;}
.exploregrid-listing li:nth-child(7) .leftexplore-img{margin-left:0px;order:-1;}
.exploregrid-listing li:nth-child(8) .leftexplore-img{order:2;}

.exploregrid-listing li:nth-child(2) .leftexplore-img{order:2;}
.exploregrid-listing li:nth-child(6) .leftexplore-img{order:2}
.exploreSec{padding-bottom:40px;}
/*======End of the explore range=========*/

/*========Start of the amazing features=======*/
.AmazingFeatureSec{padding-top:40px;}
/*========End of the amazing features=======*/
/*====Start of the watch video=====*/
.videosfeature-wrap{padding-top:0px;padding-bottom:40px;}
.videosfeature-wrap .yt_videos h4{text-align:left;padding-left:20px;}
.videosfeature-wrap .yt_videos p{text-align:left;padding-left:20px;}
.videosfeature-wrap .all-vdo{text-align:left;margin-top:25px;}
.videosfeature-wrap .all-vdo-up{text-align:left}
.ftSearch_sec{padding: 0 0 25px;}
/*====End of the watch video=====*/

/*=====Start of the video page========*/

/**Video Page***/
.video-header .heading { font-size: 30px; }
.video-header .info { padding-top: 5px; font-size: 12px; }
.video-tab-link .nav > li > a { padding: 5px 8px; font-size: 12px; }
.video-tab-link { margin-left: -15px; margin-right: -15px; }
.video-tab-link .nav-tabs > li.active > a, .video-tab-link .nav-tabs > li.active > a:focus, .video-tab-link .nav-tabs > li.active > a:hover {border-bottom: 2px solid #e21838; }
.video-tab-link .nav-tabs > li > a:hover {border-bottom: 2px solid #e21838; }
.video-tab-link .nav-tabs > li > a {border-bottom: 2px solid transparent; }
.no-padding{padding: 0}
.video-card .video-frame {
border-radius: 0px;
}
.video-card {
margin-bottom: 30px;
}
.video-details h4 {
font-size: 14px;
margin-bottom: 5px;
}
.video-details p {
color: #494a49;
font-size: 12px;
padding-left:0px;
}
.video-container::after {
display: none
}
.video-tab-link {
margin-top: 30px;
}
.PR_specifcation > ul > li{font-size:14px;}
.icon_head{font-size:16px;}
/*=====End of the video page========*/

/*======Start of the prodct individual page=========*/
.productindividual-wrap .prImg {text-align:center;}
.productindividual-wrap .prImg img{width:60%;}
.productindividual-wrap .PrDeas{padding-left:20px;padding-top:20px;}
.productindividual-wrap .PrDeas h2{font-size:30px;}
.productindividual-wrap .PrDeas h5{font-size:16px;line-height:22px;}
.productindividual-wrap .PrDeas p, .productindividual-wrap .PrDeas figcaption{font-size:12px;line-height:20px;}
    .prodctdummy-innercontent p{font-size:14px;padding:30px 20px;}
    .prodctdummy-innercontent{left:0px;position:relative;max-width:100%;height:auto;}
    /*.productdumm-innerimg img{height:370px;}*/
    .prodctdummy-imgcontent{padding-top:190px;}
    .prodctdummy-content p{font-size:14px;}
    .prodctdummy-content{padding:15px 20px;}
    .prodctboxes-imgcontainer ul li{width:100%;}
    .individualprod-boxwrap{height:300px;background:gray}
    .prodexplore-innerwrap{padding-bottom:40px;}

 .lockingBTN{background-image:none;background-color: #e21838;margin-right: 0;font-size: 14px;height: auto;line-height: 23px;padding: 5px 20px;}
 .prodfeature-box{padding-bottom:50px;}
 .prodresize-wrap .lockingguide.bticon{padding-top:0px;}
 .prodfeature-box .subHeading{font-size:22px;}
/*======End of the prodct individual page=========*/
/*======Start of the about us page===========*/
.aboutus-bannerwrp img{height:auto;}
.aboutus-contentwrap{padding:50px 30px;}
.aboutus-contentwrap .heading{font-size: 30px;}
.aboutus-contentwrap .heading span {color: #e21838; font-family: 'Parisienne', cursive;}
.aboutus-contentwrap .info {font-size:12px;line-height:22px;}
/*======End of the about us page===========*/
.PrVideo_sec h2                     {font-size: 34px;}
.PrVideo_sec h2 span                {font-size: 34px;} 
.exploreSec h2						{font-size:34px;}
.exploreSec h2 span					{font-size:34px;}
/*.Fopen{top:70px;}*/
.form_sec{bottom:-300px;}
.OpenF .form_sec {bottom:0px;}
.formIn .btn{font-size:16px;height:34px;}
.formIn h3{font-size:18px;}
.Fopen{font-size:18px;left:inherit;}
.yt_videos h4{margin-top:0px;}
.videoWrp{padding-bottom:15px;}
.PrVideo_sec{margin-top:10px;}
.formIn > ul > li{margin:5px 0 0;}
.flip-box{height:170px;}
    .flip-box-inner img{width:auto!important;background:#fff;}
    .flip-box-back{width:100%!important; height:100%!important;    display: none;transform: none; backface-visibility: visible;}
    .flip-box-front{backface-visibility: visible;}
    .flip-box:hover .flip-box-inner{transform:none}
    #navigation .owl-item.active.current .projectitem::after{left:44%;}
    .homepageslider-inner .item img{height:auto}

.bannerForm_Sec .owl-dots{bottom:2%;}
.banner_logo img{width:50%;}
.banner_logo {bottom:-28px;}
.aboutus-videowrap{height:auto}
.exploregrid-listing li:nth-child(3) .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child() .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child(4) .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child(7) .rightexplore-content::before{content:none}
.exploregrid-listing li:nth-child(8) .rightexplore-content::before{content:none}

} /*===end of the media 767px=====*/

@media (max-width: 480px){
    .mobexplore-rangecarsouel .leftarrow-explore {top: 32%;}
    .mobexplore-rangecarsouel .rightarrow-explore {top: 32%;}
}

/*======End of the media queries=======*/

img.playBtn { width: 50px !important; height: auto; position: absolute; left: 50%; top: 50%; margin-left: -25px; margin-top: -17px; }
img.cover { height: 300px; border-radius: 20px;}
.ytLoader { position: relative; }