 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body 								{line-height: 1; font-family: 'Roboto', sans-serif;}
ol, ul 								{list-style: none;}
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body 								{line-height: 1; font-family: 'Roboto', sans-serif;}
ol, ul 								{list-style: none;}
blockquote, q 						{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table 								{border-collapse: collapse;	border-spacing: 0;	}
body, html 							{-webkit-text-size-adjust: none; color:#292f2f; }
*, *:before, *:after 				{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
focus								{outline: none; }
*:focus 							{outline: none;}
body 								{font-family: 'Roboto', sans-serif; font-size: 14px; overflow-x:hidden !important; line-height: 1; margin:0; padding:0; background:#fff;}
a 									{color: #658ad0; transition: all 0.5s ease;}
a:hover 							{color: #3e6cc4; text-decoration:none;}
a:active							{outline:none; text-decoration:none;}
a:focus								{outline:none; text-decoration:none;}
button:focus						{outline:none; text-decoration:none;}
button.btn:focus					{outline:none; text-decoration:none;}
button.btn:active					{outline:none; text-decoration:none;}
*:focus 							{outline: none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none; box-shadow:none;}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}
::-webkit-scrollbar 				{width: 5px;}
::-webkit-scrollbar-track 			{background: #ed1c24;}
::-webkit-scrollbar-thumb 			{background: #fff;}
::-webkit-scrollbar-thumb:hover 	{background: #555;}
img									{line-height:0;}
h1,h2,h3,h4,h5,h6					{font-weight: 700; margin:0; padding:0;}
h2									{text-align:center; font-size:30px; text-transform:uppercase; color:#353535; margin-bottom:20px;}
ul, ol								{margin:0; padding:0; list-style:none;}
.clear								{clear:both; content:''; display:block; width:100%;}
.clear:after						{clear:both; content:''; display:block; width:100%;}
.form-control:focus					{border-color:#3b0600; outline:none;}
.left								{float:left;}
.right								{float:right;}
.center								{text-align:center;}
body								{margin:0px; padding:0px !important; }
.no_padd							{padding:0px;}
.strikethrough {text-decoration:line-through}

#loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: #25262c url('../img/loader.gif') 50% 50% no-repeat; overflow:hidden;  }

/*preloader */

/* #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1b23;
    z-index: 10000;
    overflow: hidden;
} */
/* 
.loader {
    position: absolute;
    width: 42px;
    height: 42px;
    -webkit-animation: preloader_6 5s infinite linear;
    animation: preloader_6 5s infinite linear;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
}

    .loader span {
        width: 20px;
        height: 20px;
        position: absolute;
        background: red;
        display: block;
        -webkit-animation: preloader_6_span 1s infinite linear;
        animation: preloader_6_span 1s infinite linear;
    }

        .loader span:nth-child(1) {
            background: #2ecc71;
        }

        .loader span:nth-child(2) {
            left: 22px;
            background: #9b59b6;
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .loader span:nth-child(3) {
            top: 22px;
            background: #3498db;
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

        .loader span:nth-child(4) {
            top: 22px;
            left: 22px;
            background: #f1c40f;
            -webkit-animation-delay: .6s;
            animation-delay: .6s;
        }

@-webkit-keyframes preloader_6_span {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes preloader_6_span {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/**/

/* .wrapper_load {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 190px;
    height: 80px;
    white-space: nowrap;
}

.focus {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 2px;
    filter: blur(3px);
    font-size: 40px;
    opacity: 0.6;
    color: #fff;
} 

.mask {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 70px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    clip: rect(0px,70px,75px,0px);
    background: linear-gradient($target, $target 0) no-repeat, linear-gradient(to right, $target, $target 0) no-repeat, linear-gradient(to right, $target, $target 0) bottom left no-repeat, linear-gradient(to right, $target, $target 0) bottom left no-repeat, linear-gradient($target, $target 0) bottom right no-repeat, linear-gradient($target, $target 0) bottom right no-repeat, linear-gradient($target, $target 0) top right no-repeat, linear-gradient($target, $target 0) top right no-repeat;
    background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
    color: #fff;
    padding: 5px;
    transform: translateX(0);
    box-sizing: border-box;
    animation: mask 2.5s ease infinite alternate;
}

.text {
    transform: translateX(0);
    animation: text 2.5s ease infinite alternate;
}

@keyframes mask {
    to {
        transform: translateX(150px);
    }
}

@keyframes text {
    to {
        transform: translateX(-150px);
    }
}




 */

/**/
/*preloader end*/


.mobileLogo							{position:absolute; padding-top:30px; text-align:center; right:0px; top:0px; z-index:10; width:420px; height:165px; left:0; margin:0 auto; background:url(../img/logoBG.png)no-repeat center top;}
.bannerForm_Sec .owl-nav			{display:none;}
.bannerForm_Sec .owl-dots			{display:block; padding-left: 30px; text-align:left; vertical-align:top; position:absolute; left:0; bottom:6px; width:100%; z-index:10;}
.bannerForm_Sec .owl-dot			{display:inline-block; text-align:center; vertical-align:top; width:12px; height:12px; background:#e9ebed; margin:0 5px; border-radius:15px;}
.bannerForm_Sec .owl-dot.active		{background:#000;}
.bannerIn							{position:relative;}
.banner_logo						{position:absolute; left:3%; bottom:6%; z-index:10;}

.featureSec							{position:relative;}
.feaure_Txt							{position:absolute; left:5%; z-index:10; top:8%; width:55%; text-align:left;}
.feaure_Txt h2						{text-align:left; font-size:112px; color:#494a49; font-weight:900; text-transform:inherit; margin-bottom:10px;}
.feaure_Txt h2 span					{color:#e21838; font-family: 'Parisienne', cursive; font-weight:400; font-size:100px;}
.featureDeas						{font-size:20px; font-weight:300; color:#494a49; line-height:28px;}
.watchLink							{font-size:22px; font-weight:600; color:#e21838; display:inline-block; padding:13px 25px; border:solid 1px #494a49; border-radius:4px; margin-top:25px;}
.watchLink:hover					{color:#000;}

.form_sec							{background:#000; padding:20px 20px; position:fixed; right:70px; bottom:-330px; width:300px; z-index:101; transition: all 0.5s ease;}
.formIn > ul						{display:block; text-align:left; vertical-align:top;}
.formIn > ul > li					{display:inline-block; text-align:center; vertical-align:top; margin:6px 0px 0; position:relative; width:100%;}
#lblError                           {margin-top:5px;}
.formIn h3							{text-align:center; color:#fff; font-size:20px; font-weight:700; padding-bottom:15px;}
.formIn .form-group					{margin-bottom:0px;}
.formIn .form-control				{height:35px; max-width:100%; background:#fff; border-radius:4px; box-shadow:none; border-color:#fff; padding-left:15px;}
.formIn .btn						{height:35px; background:#e21838; border-radius:6px; box-shadow:none; border-color:#e21838; font-size:16px; font-weight:700; color:#fff; padding-right:20px; padding-left:20px; padding:0 15px;}
.error								{position:absolute; left:0; bottom:-15px; color:#e21838; font-size:12px;}
.Fopen                              {position: absolute;  cursor: pointer;   right: 0;  top: -40px;   background: #e21838;   color: #fff;   font-weight: 700;   font-size: 18px;   height: 40px;   line-height: 40px;   padding: 0 20px;    -webkit-transform: rotate(-0deg);
                                     -moz-transform: rotate(-0deg);   -o-transform: rotate(-0deg);   -ms-transform: rotate(-0deg);   transform: rotate(-0deg);   border-top-left-radius: 8px;   border-top-right-radius: 8px;}
.OpenF .form_sec					{bottom:0px; transition: all 0.5s ease;}
.customer-care                       {position: fixed;right: 0px;bottom: 0px;width: 50px;z-index: 100;transition: all 0.5s ease;}

.AmazingFeatureSec 					{padding:0px 0px 50px 0;}
.AmazingFeatureSec .container		{max-width:1270px; margin:0 auto; width:100%;}
.owl-carousel .owl-item img			{}
.AmazingFeatureSec h3				{text-align:center; font-size:44px; color:#494a49; font-weight:900; padding-bottom:80px;}
.AmazingFeatureSec h3 span			{font-size:50px; color:#e21838; font-weight:bold; font-family: 'Parisienne', cursive;}
#navigation .iconBoxWRP				{text-align:center; position:relative; cursor:pointer;}
.iconBoxWRP:hover .iconBox			{background:#e21838; transition: all 0.5s ease;}
.iconBoxWRP:hover .default			{transform:scale(0); transition: all 0.5s ease;}
.iconBoxWRP:hover .deHover			{visibility:visible; transform:scale(0.9); transition: all 0.5s ease; opacity:1;}
.default							{visibility:visible; transform:scale(0.9); transition: all 0.5s ease;}
.deHover							{transform:scale(0); transition: all 0.5s ease; opacity:0;}
.iconBoxWRP h5						{color:#494a49; font-weight:500; font-size:14px; font-weight:300; padding:20px 0px;}
.iconBox							{height:140px; width:140px; overflow:hidden; position:relative; border-radius:150px; margin:0 auto; border:solid 1px #e21838; transition: all 0.5s ease; left:0; right:0;}
.iconBox img						{position:absolute; left:0; top:0;}
#slider .owl-nav					{display:none;}
.tbaDeasIN h4						{color:#e21838; font-size:24px; font-weight:700; padding-bottom:12px;}
.tbaDeasIN p						{color:#494a49; font-size:14px; line-height:20px;}
#navigation .owl-prev				{position:absolute; left:-30px; top:30%; background:url('../img/icon/left.png')no-repeat; height:32px; width:32px; font-size:0px;}
#navigation .owl-next				{position:absolute; right:-30px; top:30%; background:url('../img/icon/right.png')no-repeat; height:32px; width:32px; font-size:0px;}
#navigation .projectitem			{padding-bottom: 30px; margin-bottom: 30px; border-bottom:solid 4px #e21838;} 
#navigation .owl-item.active.current .projectitem::after{position:absolute; left:37%; bottom:30px; width:0px; height:0px; width: 0; height: 0; border-left: 20px solid transparent;  border-right:20px solid transparent; border-bottom:20px solid #e21838; content:' ';}

.PrVideo_sec                        {background:#f1f1f1; padding:50px 40px;  margin: 80px 0 40px;}
.PrVideo_sec h2						{text-align:center; font-size:44px; color:#494a49; font-weight:900; padding-bottom:0px; text-transform: uppercase;}
.PrVideo_sec h2 span				{font-size:50px; color:#e21838; font-weight:bold; font-family: 'Parisienne', cursive; text-transform: capitalize; }
.video_frames .col-sm-3             {padding: 0 8px;}
.videoWrp p                         {font-size: 16px; color: #454b51; padding-top: 20px;text-align: center;}
 
.exploreSec							{background:#; padding:50px 40px;}
.exploreSec h2						{text-align:center; font-size:44px; color:#494a49; font-weight:900; padding-bottom:0px; text-transform: inherit;}
.exploreSec h2 span					{font-size:50px; color:#e21838; font-weight:bold; font-family: 'Parisienne', cursive; }
.slider3Dbox						{background:#e11838; border-radius:10px; text-align:center; margin: 0 0px; cursor:pointer; padding: 30px 30px 60px 30px;}
.slider3Dbox img					{width:100% !important;}
#slider3D .owl-item					{padding:2% 0px;}
#slider3D .owl-item	.slider3Dbox	{transform: scale(0.8); transition: all 0.5s ease;}
#slider3D .owl-item.active.center .slider3Dbox{transform: scale(1.4); transition: all 0.5s ease;}
#slider3D .owl-item.active.center	{}
#slider3D .owl-item.active.center .dtPage{display:block;}
#slider3D .owl-item.active .slider3Dbox{transform: scale(1);}
.wpp .slider3Dbox					{transform: scale(1) !important; left: 51px; position:relative; transition: all 0.5s ease;}
.wp .slider3Dbox					{transform: scale(1) !important; right: 51px; position:relative; transition: all 0.5s ease;}
.wppp .slider3Dbox					{position: relative; left: 0px; transform: scale(0.8) !important; transition: all 0.5s ease;}
.wpppp .slider3Dbox					{position: relative; right: 0px; transform: scale(0.8) !important; transition: all 0.5s ease;}
#slider3D .owl-prev					{position:absolute; left:-25px; top:47%; width:46px; height:46px; font-size:0.1px; background:url('../img/icon/left1.png')no-repeat;}
#slider3D .owl-next					{position:absolute; right:-25px; top:47%; width:46px; height:46px; font-size:0.1px; background:url('../img/icon/right1.png')no-repeat;}
.slider3Dbox .prDeas				{position: absolute; bottom: 12px; text-align: left; width: 70%; right: 20px;}
.slider3Dbox .prDeas	h5			{font-size:26px; color:#fff; font-weight:800; padding-bottom:0px;    text-transform: uppercase;}
.slider3Dbox .prDeas	p			{font-size:9px; color:#fff; font-weight:400; line-height:11px;}
.wpppp .slider3Dbox					{opacity:0.4; background:#e9e9ea;}
.wpp .slider3Dbox					{opacity:0.6; background:#e9e9ea;}
.wp .slider3Dbox					{opacity:0.6; background:#e9e9ea;}
.wppp .slider3Dbox					{opacity:0.4; background:#e9e9ea;}
.wp .slider3Dbox .prDeas h5, .wpp .slider3Dbox	.prDeas	h5, .wppp .slider3Dbox	.prDeas	h5, .wpppp .slider3Dbox	.prDeas	h5 {color: #e21838}
.wp .slider3Dbox .prDeas p, .wpp .slider3Dbox	.prDeas	p, .wppp .slider3Dbox	.prDeas	p, .wpppp .slider3Dbox	.prDeas	p {color: #494a49}
.dtPage 							{position:absolute; left:0; top:0; width:100%; height:100%; z-index:10; display:none;}

/* deatail page */
.PrDetail_sec 						{padding:100px 0 20px 0;}
.PrDetail_sec .container			{max-width:1400px; width:100%;}
.PrDeas								{padding-top:90px; text-align:left; color:#494a49; font-size:20px; font-weight:300; line-height:28px;}
.PrDeas h2							{font-weight:900; color:#494a49; font-size:110px; padding-bottom:40px; text-align:left; text-transform:uppercase; }
.PrDeas h5							{font-weight:500; color:#494a49; font-size:30px; padding-bottom:10px;}
.PrDeas h5 span						{text-decoration: line-through; color:#e21838;}
.PrDeas figcaption					{font-weight:300; color:#494a49; font-size:20px; padding-bottom:40px;}
.PrDeas p							{color:#494a49; font-size:20px; font-weight:300; line-height:28px; text-align:justify;}
.PrDeas p span						{color:#e21838;}
.subHeading							{font-size:40px; color:#494a49; font-weight:700; padding-bottom:5px; border-bottom:solid 2px #e21838; display:inline-block; margin-bottom:30px;}
.subHeading span					{color:#e21838;text-transform:uppercase;}
.icon_head							{font-size:22px; color:#494a49; font-weight:700; padding-bottom:12px; text-transform:capitalize;}
.PR_specifcation h4					{font-size:}
.PR_specifcation > ul				{display:block; text-align:left; vertical-align:top;}
.PR_specifcation > ul > li			{width:100%; display:flex; font-size:14px; color:#494a49; font-weight:300; margin-bottom:5px;}
.PR_specifcation > ul > li p		{padding-top:12px;}
.PR_specifcation > ul > li img		{margin-right:20px; height:41px;}
.iconWrp							{margin-bottom:22px;}
.boxIN								{}
.PR_specifcation.boxIN				{}
.PR_specifcation.boxIN > ul > li	{display:inline-block; width:50%; float:left; position: relative; padding-left: 60px; min-height: 40px;}
.PR_specifcation.boxIN > ul > li img{float:left; position: absolute; left: 0; top: 0;}
.iconwrpSec							{padding:60px 0 0 0;}
#navigation .current .iconBox		{background:#e21838;}
#navigation .owl-item.current.active .iconBox .deHover{visibility: visible; opacity:1; transform: scale(0.9); transition: all 0.5s ease;}
#navigation .current .iconBox .default{visibility: hidden; opacity:0; transition: all 0.5s ease;}
.prImg img							{width:auto; max-width:100%;}
.lockingguide						{display:flex;}
.lockingBTN							{background:url('../img/btnBGin.jpg')repeat-x; height:32px; margin-top:21px; margin-right:60px; line-height:32px; color:#fff; font-size:20px; font-weight:500; display:inline-block; padding:0 30px; border-radius:3px;}
.lockingBTN span					{font-weight:300;}
.turnLeve							{display:flex; font-size:18px;}
.turnLeve p							{font-weight:300; padding-left:20px; padding-top:26px;}
.bticon								{padding-top:45px;}
/* // deatail page */



.ftSearch_sec						{padding:70px 0px;}
.ftSearchIN ul						{display:block; text-align:center;}
.ftSearchIN ul li					{display:inline-block; text-align:center; position:relative;}
.searchForm .error 	{left: 20px; bottom: -25px;}
.dwTxt 		{font-size: 43px; color: #494a49; font-weight: 900;}
.dwTxt span							{font-size:42px; color:#e21838; font-weight:bold; font-family: 'Parisienne', cursive;}
.search-container					{position:relative; width:465px; overflow:hidden; border-radius:6px; top: 7px; left: 20px; box-shadow: 0px 0px 3px -1px #888888;}
.ftSearchIN .form-control			{height:40px; box-shadow:none; border-radius:6px; font-size:16px; color:#616161; }
.ftSearchIN .btn					{position:absolute; border-radius:6px; right:0px; top:0px; padding:0px 30px; height:40px; font-size:20px; color:#fff; font-weight:700; background:url('../img/btnBG.jpg')repeat-x;}

.footer_sec							{background:#181917; color:#fff; padding:40px 3%; position:relative;}
.ft_social							{display:block; text-align:center; vertical-align:top;}
.ft_social li						{display:inline-block; text-align:center; vertical-align:top; margin:0 5px;}
.ftLogo								{text-align:right;}
.copy_right							{font-size:18px; font-weight:400;}
.termsCondition						{float:right; color:#fff; font-size:15px; margin-top:15px; margin-right:15px; position:absolute; right:0px; bottom:-25px; font-weight:300;}
.termsCondition:hover				{color:#fff;}
.termsCondition:focus				{color:#fff;}
#exampleModal						{}
#exampleModal .modal-header .close	{margin-top: -24px; font-size: 30px;}
#exampleModal h4					{padding-bottom:10px;}
#exampleModal .modal-body h5		{padding-bottom:10px;}
#exampleModal ul					{padding-bottom:15px;}
#exampleModal ul li					{padding:5px 0; line-height:21px;}
#exampleModal .modal-dialog			{margin-top:3%;}
#exampleModal p						{line-height:21px; padding-bottom:12px;}
#exampleModal .modal-body			{max-height: 400px; overflow-y: scroll;}
.owl-next.disabled					{display:none;}
.owl-prev.disabled					{display:none;}

.thankYou							{}
.thankYou .thankYouIn				{font-size:20px; text-align:center; height:250px; color:#fff; display:table; width:100%; vertical-align: middle; }
.thankYou .thankYoubox				{font-size:20px; text-align:center; height:250px; color:#fff; display:table-cell; width:100%; vertical-align: middle; line-height:32px; font-family: 'Kaushan Script', cursive;}

.featureSec > img					{float:left;}


	
@media only screen and (max-width: 5000px) {

	
}

@media only screen and (max-width: 1600px) {
.wp .slider3Dbox					{right: 42px;}
.wpp .slider3Dbox					{left: 42px;}
#bannerBig .owl-item img			{width:100% !important;}

}

@media only screen and (max-width: 1500px) {	
.wp .slider3Dbox					{right: 36px;}
.wpp .slider3Dbox					{left: 36px;}
#bannerBig .owl-item img			{width:100% !important;}
.featureSec > img					{float:right; width:100%;}
.feaure_Txt h2						{font-size: 90px;}
.feaure_Txt h2 span					{font-size: 85px;}
.PrDeas h2							{font-size: 80px; padding-bottom: 20px;}
.PrDeas figcaption					{padding-bottom:20px;}
.PrDeas p, .PrDeas figcaption		{font-size:17px; line-height:24px;}
.PrDetail_sec .container			{max-width:1240px;}
.bticon								{padding-top:35px;}

}

@media only screen and (max-width: 1366px) {	
.wp .slider3Dbox					{right: 34px;}
.wpp .slider3Dbox					{left: 34px;}
#slider3D .owl-prev					{left:-35px;}
#slider3D .owl-next					{right:-35px;}
/*.form_sec {top:5%;}*/
.customer-care {bottom: 0px;}
}

@media only screen and (max-width: 1280px) {
#navigation .owl-prev				{left:-10px;}
#navigation .owl-next				{right:-10px;}
.bannerForm_Sec .owl-dots			{bottom:10px;}
.feaure_Txt							{width:65%;}
.featureDeas						{background: rgba(255,255,255,0.8); padding-right: 7px;}

}

@media only screen and (max-width: 1200px) {
.feaure_Txt h2						{font-size: 70px;}
.feaure_Txt h2 span					{font-size: 65px;}
.banner_logo img					{width:200px;}
.videoWrp p                         {font-size: 14px;}    
.videoWrp iframe                    {width: 100%; height: 250px;}    
/*juned css*/    
.yt_videos {width: 100% !important;}
.explorearrow-div{top:65px }
}

@media only screen and (max-width: 1100px) {


}

@media only screen and (max-width: 991px) {
.feaure_Txt h2						{font-size:60px; margin-bottom:0px;}
.feaure_Txt h2 span					{font-size:55px;}
.featureDeas						{font-size:18px; line-height:24px;}
.watchLink							{padding: 10px 20px; font-size:18px;}
.AmazingFeatureSec h3 				{font-size:50px;}
.AmazingFeatureSec h3 span			{font-size:50px;}
.exploreSec h2						{font-size:50px;}
.exploreSec h2 span					{font-size:50px;}
.exploreSec							{padding: 0px 40px;}
.mobileLogo							{position:relative; padding-top:12px; height: 81px;}
.mobileLogo img						{width:150px;}
.slider3Dbox .prDeas h5				{font-size: 25px;}
.PR_specifcation.boxIN > ul > li	{width:100%;}
.lockingguide.bticon				{display:block; text-align:left;}
.lockingguide.bticon li				{display:inline-block; text-align:left;}
.lockingguide.bticon li img			{max-width:100%; width:auto;}
.banner_logo img					{width:170px;}
.lockingguide						{display:block;}
.turnLeve							{padding-top:25px;align-items:center;}
.explorearrow-div{top:55px;}

}

@media only screen and (max-width: 768px) {
.feaure_Txt							{width:100%; position:relative; left: 0; padding: 0 20px;}
.featureSec > img					{margin-top: -90px;}
.featureSec							{padding-top:30px;}
.feaure_Txt h2						{font-size: 50px}
.feaure_Txt h2 span					{font-size: 45px}
.AmazingFeatureSec h3 				{font-size:42px;}
.AmazingFeatureSec h3 span			{font-size:42px;}
.exploreSec h2						{font-size:42px;}
.exploreSec h2 span					{font-size:42px;}
.ftSearch_sec						{padding: 50px 0px}
.copy_right							{text-align:center;}
.ft_social							{padding:15px 0;}
.ftLogo								{text-align:center;}
.termsCondition						{left:0; bottom:-30px; margin-right:0px;}
.footer_sec							{padding-top:25px; padding-bottom:50px;}
.slider3Dbox .prDeas h5				{font-size: 18px;}
.PrDeas h2							{font-size:60px; padding-bottom:10px;}
.PrDeas h5							{font-size:24px;}
.PrDeas figcaption					{font-size:18px; line-height:24px;}
.PrDeas p							{font-size:16px; line-height:22px;}
.subHeading							{font-size:35px;}
.Fopen								{font-size:20px; height: 40px; line-height: 40px; top: -40px;   padding: 0 20px; }
.PrDetail_sec .row.clear			{width: initial;}
.PrDetail_sec						{padding-top:40px;}
.turnLeve img						{height:auto;}
.videoWrp iframe                    {width: 100%;  height: 300px;}   
.videoWrp p                         {font-size: 14px;  padding: 10px 0 30px;}
.customer-care {text-align: right;}
.customer-care img {width: 40px;}  
 /*juned css*/   
.yt_videos .col-sm-4 {padding: 0px 0px 20px !important; margin: 0 auto; text-align:center;}    
.yt_videos .col-sm-4 img{width: auto !important;}
.yt_videos iframe {border-radius: 70px !important;    padding: 30px;}   
.redbottom-border h3{padding-bottom: 40px !important;}
.redbottom-border h3::before{width: 120px  !important;;  height:2px  !important;; bottom: 15px  !important;}
.explorearrow-div{top:65px;}
}

@media only screen and (max-width: 639px) {
.feaure_Txt h2						{font-size: 40px}
.feaure_Txt h2 span					{font-size: 35px;}
.featureDeas						{font-size: 16px;}
.AmazingFeatureSec h3 				{font-size:38px;}
.AmazingFeatureSec h3 span			{font-size:38px;}
#navigation .projectitem			{padding-bottom: 22px; margin-bottom:20px;}
#navigation .owl-item.active.current .projectitem::after{bottom:20px;}
.exploreSec h2						{font-size:38px;}
.exploreSec h2 span					{font-size:38px;}
.AmazingFeatureSec h3				{padding-bottom:30px;}
.ftSearch_sec						{padding: 40px 0px}
.dwTxt								{font-size:35px;}
.dwTxt span							{font-size:35px;}
.search-container					{width:365px; left:0;}
.ftSearchIN .btn					{padding: 0px 15px;}
.dwTxt								{padding-bottom:8px;}
#slider3D .owl-item	.slider3Dbox	{transform: scale(1); transition: all 0.5s ease;}
#slider3D .owl-item.active.center .slider3Dbox{transform: scale(1); transition: all 0.5s ease; background:#e11838 !important;}
#slider3D .owl-item.active.center	{}
#slider3D .owl-item.active.center .dtPage{display:block;}
#slider3D .owl-item.active .slider3Dbox{transform: scale(1);}
.wpppp .slider3Dbox					{transform: scale(1) !important;}
.wpppp .slider3Dbox					{opacity:1; background:#e9e9ea;}
.wpp .slider3Dbox					{opacity:1; background:#e9e9ea;}
.wp .slider3Dbox					{opacity:1; background:#e9e9ea;}
.wppp .slider3Dbox					{opacity:1; background:#e9e9ea;}
#slider3D .owl-item					{padding:0;}
.mobileLogo img						{width:120px;}
.mobileLogo							{height:69px;}
.slider3Dbox .prDeas h5				{font-size: 28px;}
.PrDeas h2							{font-size:50px; padding-bottom:0px;}
.subHeading							{font-size:30px;}
.icon_head							{font-size:18px;}
.PR_specifcation > ul > li			{font-size:16px;}
.formIn .form-control				{height:30px;}
.formIn .btn						{font-size:20px; height:35px;}
.mobileLogo							{width:100%;}
.form_sec							{width:250px; left: 0px;} 
.Fopen                              {left: 0px; top: -40px;}
.OpenF .form_sec                    {left: 0px;     bottom: -452px;}
.formIn h3							{font-size:20px;}
.lockingguide						{display:block;}
.lockingBTN							{margin-top:5px; margin-bottom:15px;}
.turnLeve p							{padding-top:6px;}
.banner_logo						{left:6%; bottom:20%;}
.banner_logo img					{width:120px;}
.watchLink 							{padding: 8px 8px; font-size: 15px;}
.PrVideo_sec h2                     {font-size: 38px;}
.PrVideo_sec h2 span                {font-size: 38px;}    
}

@media only screen and (max-width: 480px) {
.ftSearch_sec						{padding: 30px 0px}
.dwTxt								{font-size:32px;}
.dwTxt span							{font-size:32px;}
.search-container					{width:300px; left:0;}
.slider3Dbox .prDeas h5				{font-size: 24px;}
.wpp .slider3Dbox					{left:0;}
.wp .slider3Dbox					{right:0;}
.bannerForm_Sec .owl-dot			{width:8px; height:8px;}
.bannerForm_Sec .owl-dots			{padding-left:15px;}
.PrVideo_sec                        {padding: 50px 20px;}
.formIn > ul > li                   {margin: 8px 0px;}
/*juned css*/
.project-btn                        {margin: 10px 0 10px; float: none !important;}    
.flip-box-front                     {left: 0px !important;}  
.flip-box-back                      {width: 80% !important; height: 80% !important; left: 0  !important; right: 0px !important; top: 12% !important;} 
#navigation .owl-next               {top: 40%;}  
#navigation .owl-prev               {top: 40%;}  
.yt_videos .col-sm-4                {width: 50%;   float: left;}    
.yt_videos .col-sm-4:nth-child(4)   {width:100%; }
.yt_videos iframe                    {border-radius: 25px !important; height: 200px;     padding: 10px;}
.yt_videos p                        {font-size: 14px;     padding: 0 10px;}   
.yt_videos p br                     {display: none; }   
.flip-box                           {margin: 0 auto;}    

}

@media only screen and (max-width: 360px) {
.dwTxt								{font-size:30px;}
.dwTxt span							{font-size:30px;}
.search-container					{width:280px; left:0;}
.slider3Dbox .prDeas h5				{font-size: 22px;}
	
}


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item .carousel-caption .jumbotron {
  background-color: transparent;
}

.carousel-caption {
  top: 37%;
  text-shadow: none;
  z-index: 101;
}

.item .carousel-caption .jumbotron h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #03475d;
}

.item .carousel-caption .jumbotron h1 {
  font-size: 68px;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}

.item .carousel-caption .jumbotron .carousel-lead {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #03475d;
}

.video-content {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
  /*     z-index: 999; */
}

.banner-video {
  height: 100%;
  opacity: 1;
  position: relative;
  transition: all 0.5s ease 0s;
  width: 100%;
  /*     z-index: 99; */
}

.banner-video iframe {
  height: 150%;
  left: -25%;
  max-height: 500%;
  max-width: 500%;
  position: absolute;
  top: -25%;
  width: 150%;
}

.bg-black-banner {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Juned css */
.flip-box{background-color:transparent;width:130px;height:150px;perspective:1000px; margin:0 auto; }
.flip-box-inner{position:relative;width:100%;height:100%;text-align:center;transition:transform .8s;transform-style:preserve-3d; }
/*.flip-box-inner img{border:4px solid #e21838;border-radius:100px}*/
.flip-box-front img{border:2px solid #494a49;border-radius:100px}
.flip-box-back img{border:3px solid #e21838;border-radius:100px;background:#fff}
.flip-box:hover .flip-box-inner{transform:rotateY(180deg);}
.flip-box-front{width:100%;height:100%; margin: 0 auto; text-align: center; left: 0;  right: 0; top: 22px;}
.flip-box-back{width:100%;height:100%; margin: 0 auto; text-align: center; left: 0;  right: 0;top:22px;}
.flip-box-front{position:absolute;backface-visibility:hidden;width:100%;height:100%;}
.flip-box-back{position:absolute;backface-visibility:hidden;width:100%;height:100%;}
.flip-box-back{transform:rotateY(180deg)}
.project-title-wrap{display: inline-block; width: 100%;}
.project-title-wrap h4{float: left; display: inline-block;}
.project-btn{float: right; background: #e21838; padding: 10px 20px;  font-size: 12px;    color: #fff; border-radius: 5px; display: inline-block;}
.yt_videos .col-sm-4{padding:0 22px;}
.yt_videos .col-sm-4 img{width: 100%;}
.yt_videos h4{font-size: 16px; color: #494a49; margin-top: 20px;line-height:20px;}
.yt_videos p{font-size:16px; color: #494a49; margin-top: 10px; line-height: 1.4;}
.yt_videos{width: 1172px; margin: 0 auto; }
.all-vdo-up{text-align: center; overflow: hidden;   display: block;}
.all-vdo{padding:12px 18px; color: #e21838; font-size: 14px; display: inline-block; margin: 0 auto; border:1px solid #000000; text-align: center;  border-radius: 5px; margin-top: 40px; font-weight: 500;} 
.yt_videos iframe{border-radius: 20px;}


/*
.video-popup{display: none;}
.open.video-popup{display: block;}*/

